.sidenav {
  width: 190px;
  height: 100%;
  background-color: rgb(217, 224, 224);
  color: #fff;
  padding: 20px;
  margin-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: left; /*to left align the items */
}

.sidenav_heading {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.sidenav_items {
  display: flex;
  flex-direction: column;
}

/* ng-bootstrap styling for links */
.sidenav_items a {
  text-decoration: none;
  color: rgb(31, 151, 145);
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* ng-bootstrap styling for hover effect */
.sidenav_items a:hover,
.sidenav_items a:focus {
  /* Updated selector */
  color: #fff;
  background-color: rgb(31, 151, 145);
}

/* ng-bootstrap styling for active link */
.sidenav_items a.active,
.sidenav_items a.active:hover,
.sidenav_items a.active:focus {
  color: white;
  background-color: rgb(31, 151, 145);
}

.sidenav_icon {
  display: flex;
  align-items: center;
}

/* Optional: Add spacing between icon and item */
.sidenav_icon app-icon {
  margin-right: 10px;
}
