<!-- <div class="card1" *ngFor="let reply of nestedReplies; let i = index">
  <app-reply-list
    [reply]="reply"
    [isOpenThread]="isOpenThread"
    (toggleRepliesEvent)="toggleNestedReplies(i)"
    (upvoteEvent)="handleUpvote($event)"
    (downvoteEvent)="handleDownvote($event)"
    (deleteReplyEvent)="onDeleteReply($event)"
  ></app-reply-list>

  <div
    class="card-body1"
    *ngIf="
      reply.nestedReplies &&
      reply.nestedReplies.length > 0 &&
      showNestedReplies[i]
    "
  >
    <app-nesreplies2.0> </app-nesreplies2.0>
  </div>

  <br />
</div> -->
