<div class="container" *ngIf="user">
  <h2>User Details</h2>
  <div class="user-details">
    <div class="detail">
      <label>Email:</label>
      <p>{{ user.email }}</p>
    </div>
    <div class="detail">
      <label>Name:</label>
      <p>{{ user.name }}</p>
    </div>
    <div class="detail">
      <label>Designation:</label>
      <p>{{ user.designationID }}</p>
    </div>
    <!-- Add more details as needed -->
    <div class="detail">
      <label>Score:</label>
      <p>{{ user.score }}</p>
    </div>
    <div class="detail">
      <label>Department ID:</label>
      <p>{{ user.departmentID }}</p>
    </div>
    <!-- Add more details as needed -->
    <div class="detail">
      <label>Created At:</label>
      <p>{{ user.createdAt | date }}</p>
    </div>
  </div>
</div>
