.df_header{
    background-color: rgb(31, 151, 145);
    color: white;
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Ensure the header stays on top of other elements */
 
    }
 
  .df_header_logo {
    width: 270px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 200;
    }
 
  .df_header_profile_pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    z-index: 200;
    float: right; /* Float the avatar to the right */
    margin-right: 50px; /* Adjust margin for spacing */
 
  }
 
  .df_header_theme_button {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 30px;
    overflow: hidden; /* Ensures the icon stays within the button */
    border:1px solid rgb(0, 0, 0);
    float: right;
    margin-right: 30px;
    background-color: black;
 
}
 
.df_header_theme_button_icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
 
/* hover effect */
.df_header_theme_button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}