<div class="container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <br />
  <app-card [metadataItems]="threadData" [justifyPosition]="'start'"></app-card>

  <div class="card1" *ngFor="let reply of threadReplies; let i = index">
    <app-reply-list
      [reply]="reply"
      (toggleRepliesEvent)="toggleNestedReplies(i)"
    ></app-reply-list>
    <div
      class="card-body1"
      *ngIf="
        reply.nestedReplies &&
        reply.nestedReplies.length > 0 &&
        showNestedReplies[i]
      "
    >
      <app-nested-replies [nestedReply]="reply"></app-nested-replies>
    </div>
    <br />
  </div>
</div>
