<div class="container">
  <div class="header">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <div [ngStyle]="{ display: 'flex' }">
      <div
        *ngIf="thread.isDuplicate"
        [ngStyle]="{ 'background-color': 'orange' }"
        class="pillbox"
      >
        Duplicate
      </div>
      <div
        [ngStyle]="
          isOpenThread
            ? { 'background-color': 'green' }
            : { 'background-color': 'red' }
        "
        class="pillbox"
        matTooltip="Thread Status"
      >
        {{ thread.threadStatusName }}
      </div>
    </div>
  </div>
  <br />
  <app-thread-view
    [thread]="thread"
    (upvoteEvent)="handleThreadUpvote($event)"
    (downvoteEvent)="handleThreadDownvote($event)"
    (savedPostEvent)="handleSavedPost($event)"
  >
  </app-thread-view>
  <br />
  <div class="centered-container">
    <div *ngIf="!threadRepliesStatus" class="content">
      <h3>No Replies Yet. Be the First one to reply✏️</h3>
      <img src="/assets/images/no-posts.jpg" style="width: 50%; height: 50%" />
    </div>
  </div>
  <!-- <div *ngIf="threadRepliesStatus">
    <div class="card1" *ngFor="let reply of threadReplies; let i = index">
      <app-reply-list
        [reply]="reply"
        [isOpenThread]="isOpenThread"
        (toggleRepliesEvent)="toggleNestedReplies(i)"
        (upvoteEvent)="handleUpvote($event)"
        (downvoteEvent)="handleDownvote($event)"
        (deleteReplyEvent)="onDeleteReply($event)"
      ></app-reply-list>
      <div
        class="card-body1"
        *ngIf="
          reply.nestedReplies &&
          reply.nestedReplies.length > 0 &&
          showNestedReplies[i]
        "
      >
        <app-nested-replies
          [isOpenThread]="isOpenThread"
          [nestedReply]="reply"
          (upvoteEvent)="handleUpvote($event)"
          (downvoteEvent)="handleDownvote($event)"
          (deleteReplyEvent)="onDeleteReply($event)"
        ></app-nested-replies>
      </div>
      <br />
    </div>
  </div> -->
  <div class="thread-replies-container" *ngIf="threadRepliesStatus">
    <ng-container *ngFor="let replyObject of sortedReplies; let i = index">
      <div
        class="reply-container"
        [style.margin-left.px]="getDepthLevel(replyObject) * 40"
      >
        <app-reply-list
          [reply]="replyObject.reply"
          [isOpenThread]="isOpenThread"
          [upvoteSuccessEvent]="upvoteSuccessEvent"
          [downvoteSuccessEvent]="downvoteSuccessEvent"
          (toggleRepliesEvent)="toggleNestedReplies(i)"
          (upvoteEvent)="handleUpvote($event)"
          (downvoteEvent)="handleDownvote($event)"
          (deleteReplyEvent)="onDeleteReply($event)"
        ></app-reply-list>
      </div>
    </ng-container>
  </div>
</div>
<ng-container class="container"
  ><app-loader *ngIf="isLoading"></app-loader
></ng-container>
