<div class="thread-container" *ngIf="thread">
  <div class="thread-header">
    <div class="username">{{ thread.createdByUser }}</div>
    <div class="date">{{ thread.createdAt | timeDifference }}</div>
  </div>
  <div class="thread-data">
    <div class="user-controls">
      <div class="user-control">
        <mat-icon
          class="mat_icons"
          (click)="emitUpvote(thread)"
          matTooltip="Upvote"
        >
          arrow_upward
        </mat-icon>
        <p class="vote_count">{{ thread.upVoteCount }}</p>
      </div>
      <div class="user-control">
        <mat-icon
          class="mat_icons"
          (click)="emitDownvote(thread)"
          matTooltip="Downvote"
        >
          arrow_downward
        </mat-icon>
        <p class="vote_count">{{ thread.downVoteCount }}</p>
      </div>
      <div *ngIf="thread.threadStatusName == 'Open'" class="user-control">
        <mat-icon
          class="your_icon"
          (click)="postReply(thread.threadID)"
          style="margin-left: 10px"
          matTooltip="Reply"
        >
          reply
        </mat-icon>
      </div>
    </div>
    <div class="content">
      <div class="thread-title" *ngIf="!isHTML(thread.title)">
        {{ thread.title }}
      </div>
      <div
        class="thread-title"
        *ngIf="isHTML(thread.title)"
        [innerHTML]="thread.title"
      ></div>
      <br />
      <div class="thread-content" *ngIf="!isHTML(thread.content)">
        {{ thread.content }}
      </div>
      <div
        class="thread-content"
        *ngIf="isHTML(thread.content)"
        [innerHTML]="thread.content"
      ></div>
    </div>
    <div class="user-controls right" *ngIf="!isCurrentUser(thread)">
      <div class="user-control">
        <mat-icon
          class="your_icon"
          (click)="toggleBookmark(thread)"
          matTooltip="Bookmark"
          [ngStyle]="{ color: thread.isBookmarked ? 'green' : 'inherit' }"
        >
          {{ thread.isBookmarked ? "bookmark_added" : "bookmark_add" }}
        </mat-icon>
      </div>
      <div class="user-control" *ngIf="!thread.isDuplicate">
        <mat-icon
          class="your_icon"
          (click)="markDuplicate()"
          matTooltip="Mark as Duplicate"
        >
          copyright
        </mat-icon>
      </div>
      <div class="user-control" *ngIf="thread.isDuplicate">
        <mat-icon
          class="your_icon"
          (click)="redirectToOriginal(thread.threadID)"
          matTooltip="Redirect to Original Thread"
        >
          arrow_outward
        </mat-icon>
      </div>
    </div>
    <div class="owner-controls" *ngIf="isCurrentUser(thread) || isAdmin">
      <div *ngIf="thread.threadStatusName == 'Open'" class="owner-control">
        <mat-icon
          class="your_icon"
          (click)="editThread(thread)"
          matTooltip="Edit Thread"
        >
          edit
        </mat-icon>
      </div>
      <div *ngIf="thread.threadStatusName == 'Open'" class="owner-control">
        <mat-icon
          class="your_icon"
          (click)="openCloseModal(thread.threadID)"
          matTooltip="Close Thread"
        >
          cancel
        </mat-icon>
      </div>
      <div *ngIf="thread.threadStatusName == 'Closed'" class="owner-control">
        <mat-icon
          class="your_icon"
          (click)="openReopenModal(thread.threadID)"
          matTooltip="Reopen Thread"
        >
          replay
        </mat-icon>
      </div>
      <!-- <div class="owner-control">
        <mat-icon
          class="your_icon"
          (click)="openDeleteModal(thread.threadID)"
          matTooltip="Delete Thread"
        >
          delete
        </mat-icon>
      </div> -->
    </div>
  </div>
</div>
