mat-toolbar {
  position: relative;
  z-index: 5;
  font-family: "Montserrat" !important;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
  font-family: "Montserrat" !important;
}

mat-mdc-list-base {
  font-family: "Montserrat" !important;
  --mdc-list-list-item-label-text-font: "Montserrat", sans-serif !important;
  --mdc-list-list-item-trailing-supporting-text-font: "Montserrat", sans-serif !important;
  --mdc-list-list-item-supporting-text-font: "Montserrat", sans-serif !important;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
.app_name {
  margin-top: 1px;
  margin-left: 10px;
}

.user_icon {
  margin-left: 10px;
  cursor: pointer;
}

app-search {
  margin-left: 185px;
}

.spacer {
  flex: 1 1 auto;
}

.notification_icon {
  margin-left: 250px;
  font-size: 27px;
  cursor: pointer;
}

.notification_icon:hover {
  color: rgb(
    156,
    228,
    156
  ); /* Change the color on hover to red (you can adjust the color as needed) */
}
