mat-toolbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  font-family: "Montserrat" !important;
}

.header_icons{
  width: 7rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
  font-family: "Montserrat" !important;
}

mat-mdc-list-base {
  font-family: "Montserrat" !important;
  --mdc-list-list-item-label-text-font: "Montserrat", sans-serif !important;
  --mdc-list-list-item-trailing-supporting-text-font: "Montserrat", sans-serif !important;
  --mdc-list-list-item-supporting-text-font: "Montserrat", sans-serif !important;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
.app_name {
  margin-top: 1px;
  margin-left: 10px;
}

.user_icon {
  cursor: pointer;
}

app-search {
  margin-left: 185px;
}

.spacer {
  flex: 1 1 auto;
}

.dropdown-menu.show{
  background-color: rgb(51, 171, 165);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
app-profile-popup{
  display: flex;
  justify-content: flex-end;
}

.btn-group{
  width: fit-content;
}


.notification_icon {
  margin-right: 0%;
  font-size: 27px;
  cursor: pointer;
}

.notification_icon:hover {
  color: rgb(255, 255, 255);
}

.dropdown-menu.profile-dropdown {
  position: absolute !important;
  width: max-content;
  left: 64rem !important;
  right: 2% !important;
  top: 100% !important;
}
