<mat-toolbar class="mat-elevation-z3"  style="background-color: rgb(51, 171, 165)">
  <!-- <div class="header"> -->
  <!-- <div class="header_left"> -->
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <!-- signal -->
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <span class="app_name">DiscussIt!</span> -->
  <!-- <img [src]="getLogoPath()" alt="logo" /> -->

  <app-search></app-search>
  <span class="spacer"></span>
  <!-- </div> -->
  <mat-icon>person</mat-icon>
  <!-- <app-icon [iconName]="faUser"></app-icon> -->
  <!-- </div> -->
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()"  style="background-color:rgb(224, 244, 242)">
    <app-sidenav-custom [collapsed]="collapsed()"></app-sidenav-custom>
  </mat-sidenav>

  <mat-sidenav-content
    class="sidenav_content"
    [style.margin-left]="sidenavWidth()"
  >
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
