<mat-toolbar
  class="mat-elevation-z3"
  style="background-color: rgb(51, 171, 165)"
>
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <img
    class="logo-icon"
    src="assets/images/Logo.png"
    style="max-width: 10%; min-width: 5%"
  />
  <app-search></app-search>

  <span class="spacer"></span>
  <mat-icon
    class="notification_icon"
    (click)="showNotifications()"
    matTooltip="Notifications"
    >notifications</mat-icon
  >
  <span class="notification_count" *ngIf="notificationCount !== 0">{{
    notificationCount
  }}</span>

  <span class="spacer"></span>

  <ng-container
    class="btn-group"
    dropdown
    #dropdown="bs-dropdown"
    [autoClose]="true"
  >
    <img
      dropdownToggle
      class="user_icon"
      src="assets/images/profile-user.png"
      style="max-width: 40px; min-width: 40px"
      aria-controls="dropdown-basic"
      [matTooltip]="user.name"
    />
    <div
      *dropdownMenu
      class="dropdown-menu profile-dropdown"
      aria-labelledby="button-basic"
      (click)="toggleProfilePopup()"
    >
      <app-profile-popup [user]="user"></app-profile-popup>
    </div>
  </ng-container>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    opened
    mode="side"
    [style.width]="sidenavWidth()"
    style="background-color: rgb(224, 244, 242)"
  >
    <app-sidenav-custom [collapsed]="collapsed()"></app-sidenav-custom>
  </mat-sidenav>

  <mat-sidenav-content
    class="sidenav_content"
    [style.margin-left]="sidenavWidth()"
  >
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
