mat-toolbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  font-family: "Montserrat" !important;
}

.header_icons {
  width: 7rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
  font-family: "Montserrat" !important;
}

mat-mdc-list-base {
  font-family: "Montserrat" !important;
  --mdc-list-list-item-label-text-font: "Montserrat", sans-serif !important;
  --mdc-list-list-item-trailing-supporting-text-font: "Montserrat", sans-serif !important;
  --mdc-list-list-item-supporting-text-font: "Montserrat", sans-serif !important;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
.app_name {
  margin-top: 1px;
  margin-left: 10px;
}

.user_icon {
  cursor: pointer;
}

app-search {
  margin-left: 185px;
}

.spacer {
  flex: 1 1 auto;
}

.dropdown-menu {
  --bs-dropdown-padding-y: 0rem !important;
}
.dropdown-menu.show {
  /* background-color: #0163e2; */
  background: linear-gradient(135deg, #00a6a6, #49efec);
  color:black;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
app-profile-popup {
  display: flex;
  justify-content: flex-end;
}

.btn-group {
  width: fit-content;
}

.notification_icon {
  font-size: 27px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification_icon:hover::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.091);
  border-radius: 50%;
  z-index: 1;
}

.notification_count {
  position: relative;
  left: 35px;
  bottom: 12px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu.profile-dropdown {
  position: absolute !important;
  width: max-content;
  left: 63rem !important;
  right: 2% !important;
  top: 80% !important;
  padding: 22px;
  opacity: 0; /* Initially set opacity to 0 */
  animation: fadeIn 0.5s ease-in forwards; /* Apply fade-in and slide-in animations */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start from opacity 0 */
  }
  to {
    opacity: 1; /* Fade in to opacity 1 */
  }
}


.logo-icon {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  cursor: pointer;
}
