<div class="modal-header">
    <h4 class="modal-title">Success</h4>
      <span aria-hidden="true">&times;</span>
  </div>
  <div class="modal-body">
    <p>{{ message }}</p>
  </div>
  <div class="modal-footer">
    <!-- <app-button buttonClass="btn btn-primary" buttonName="OK" (buttonClick)="close()"></app-button> -->
    <app-button
        buttonClass="button"
        buttonName="OK"
        buttonColor="rgb(31, 151, 145)"
        textColor="white"
        hoverColor="rgb(51, 171, 165)"
        hoverTextColor="white"
        (buttonClick)="close()"
      ></app-button>
  </div>