.breadcrumbs_nav {
  font-size: 14px; /* Adjust the font size as needed */
}

.breadcrumb_link {
  text-decoration: none; /* Remove underline */
  color: #007bff; /* Set link color, adjust as needed */
}
