<!-- 
For adding breadcrumbs, in your html container do the following
<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
in your ts file, set your labels and routes which is passed to the breadcrumb component
 -->

<nav class="breadcrumbs_nav">
  <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
    <ng-container *ngIf="!last; else lastCrumb">
      <a routerLink="{{ crumb.route }}" class="breadcrumb_link">{{
        crumb.label
      }}</a>
      >
    </ng-container>
    <!-- For the last page, routing is not needed and the end > is also not needed. -->
    <ng-template #lastCrumb>
      {{ crumb.label }}
    </ng-template>
  </ng-container>
</nav>
