<!-- mark-thread-duplicate.component.html -->
<div class="modal-header">
  <h4 class="modal-title">Mark Thread as Duplicate</h4>
  <button mat-icon-button class="close-icon" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="markThreadAsDuplicate()" #threadForm="ngForm">
    <div class="form-group">
      <label for="originalThreadLink">Original Thread Link:</label>
      <input
        type="text"
        class="form-control"
        name="originalThreadLink"
        [(ngModel)]="originalThreadLink"
        required
      />
    </div>
    <br />
    <div class="buttons">
      <app-button
        buttonClass="button"
        buttonName="Mark as Duplicate"
        buttonColor="rgb(31, 151, 145)"
        textColor="white"
        hoverColor="rgb(51, 171, 165)"
        hoverTextColor="white"
        [disabled]="!threadForm.valid"
      ></app-button>
    </div>
  </form>
</div>
