<main class="d-flex justify-content-center align-items-center">
  <div
    class="rounded w-50 bg-white d-flex flex-column justify-content-center align-items-center"
  >
    <br /><br /><br />
    <img
      class="img-thumbnail"
      src="../../../assets/images/logout-success.png"
      alt="Logout Successful"
    />
    <p class="h4 p-2">You've successfully logged out!</p>
    <p class="caption p-2">
      Please close the window or login again by clicking the button below:
    </p>
    <button class="btn btn-primary btn-lg" [routerLink]="['/']">Login</button>
    <br /><br />
  </div>
</main>
