/* list.component.css */
.list {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  /* width: calc(100% - 20px); */
  width: 95%;
  transition: background-color 0.3s ease, transform 0.5s ease,
    box-shadow 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list:hover {
  background-color: rgb(217, 224, 224);
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.is-active-now {
  text-align: center;
  flex-grow: 1;
}

.icons-container {
  display: flex;
  /* justify-content: space-between;  */
}

.metadata-container {
  width: 95% !important;
  display: flex;
  flex-wrap: wrap;
}

.metadata-column {
  flex: 1;
  /* margin-right: 100px; */
}

.metadata-item {
  margin-bottom: 5px;
}
