<!-- list.component.html -->
    <div class="list" (click)="onClick()">
        <div class="metadata-container">
          <div *ngFor="let section of sections" class="metadata-column">
            <div *ngFor="let item of section.metadataItems" class="metadata-item" [ngStyle]="item.style || defaultStyle">
              <ng-container *ngIf="item.name.trim() !== ''">
                {{ item.name }}: {{ item.value }}
              </ng-container>
              <ng-container *ngIf="item.name.trim() === ''">
                {{ item.value }}
              </ng-container>
            </div>
          </div>
          <div class="icons-container">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
      