<p>category-management works!</p>
<div class="container">
  <div class="top_nav">
    <div>
      <a href="">{{ community_name }}</a
      ><span> > </span><span><a href="">Category Management</a></span>
    </div>
    <button class="btn btn-success" (click)="openCreateModal(create)">
      Create Category
    </button>
  </div>

  <ng-template #create>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default">Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()">
        No
      </button>
    </div>
  </ng-template>

  <h2>Category Management</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sl No:</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let category of categories;
          let oddValue = odd;
          let evenValue = even;
          let i = index
        "
        [ngClass]="oddValue ? 'odd_value' : 'even_value'"
        [ngClass]="{ 'row-hovered': isRowHovered === i }"
        (mouseenter)="onMouseEnter(i)"
        (mouseleave)="onMouseLeave()"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ category.communityCategoryName }}</td>
        <td>{{ category.description }}</td>
        <td>
          {{ category.createdAt }}
          <span
            triggers="mouseenter"
            placement="top"
            *ngIf="isRowHovered === i"
          >
            <app-icon
              [iconName]="faEdit"
              class="edit_icon"
              (click)="openUpdateModal(update)"
            ></app-icon>
          </span>
          <span
            triggers="mouseenter"
            placement="top"
            *ngIf="isRowHovered === i"
          >
            <app-icon
              [iconName]="faDelete"
              (click)="openDeleteModal(delete)"
            ></app-icon>
          </span>

          <ng-template #delete>
            <div class="modal-body text-center">
              <p>Do you want to confirm?</p>
              <button
                type="button"
                class="btn btn-default"
                (click)="confirm(category.communityCategoryID)"
              >
                Yes
              </button>
              <button type="button" class="btn btn-primary" (click)="decline()">
                No
              </button>
            </div>
          </ng-template>

          <ng-template #update>
            <div class="modal-header">
              <h4 class="modal-title">Update Category Description</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="description">New Description:</label>
                <textarea
                  class="form-control"
                  name="content"
                  required
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="decline()"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Update</button>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
