<div class="container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <br />
  <!-- <nav class="navbar navbar-dark bg-secondary">
    <p class="header_text">Category Management</p>
    <div class="create_button">
      <app-button
        buttonClass="button"
        buttonName="Create Category"
        buttonColor="rgb(31, 151, 145)"
        textColor="white"
        hoverColor="rgb(51, 171, 165)"
        hoverTextColor="white"
        (buttonClick)="openCreateCategoryModal(create)"
      ></app-button>
    </div>
  </nav> -->

  <app-page-header
    pageHeaderTitle="Category Management"
    navClass="navbar navbar-dark bg-secondary Page_header"
    ButtonName="Create Category"
    (ButtonClick)="openCreateCategoryModal(create)"
  ></app-page-header>

  <ng-template #create>
    <div class="modal-header">
      <h4 class="modal-title">Create Category</h4>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="createCategory()" #categoryForm="ngForm">
        <div class="form-group">
          <label for="newCategoryName">New Category Name:</label>
          <textarea
            class="form-control"
            name="newCategoryName"
            [(ngModel)]="newCategoryName"
            required
          ></textarea>
        </div>
        <br />
        <div class="buttons">
          <app-button
            buttonClass="button"
            buttonName="Create"
            buttonColor="rgb(31, 151, 145)"
            textColor="white"
            hoverColor="rgb(51, 171, 165)"
            hoverTextColor="white"
            [disableButton]="!newCategoryName"
          ></app-button>
          <span> </span>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </ng-template>
  <br />
  <!-- Display Category Cards -->
  <div class="card-container">
    <div
      *ngFor="let category of categories"
      (mouseover)="setHoveredCategoryId(category.communityCategoryID)"
      (mouseout)="setHoveredCategoryId(null)"
    >
      <app-card
        [metadataItems]="[
          {
            name: '',
            value: '',
            imageSrc: 'assets/images/edit.png'
          },
          { name: '', value: category.communityCategoryName }
        ]"
        [marginTop]="'-5px'"
        [defaultImageWidth]="'20px'"
        [defaultImageHeight]="'20px'"
        (click)="openUpdateModal(update)"
      ></app-card>
      <!-- update modal -->
      <ng-template #update>
        <div class="modal-header">
          <h4 class="modal-title">Edit Category</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            (ngSubmit)="updateCategory(category.communityCategoryID)"
            #categoryForm="ngForm"
          >
            <div class="form-group">
              <label for="oldCategoryName">Old Category Name:</label>
              <textarea
                class="form-control"
                name="oldCategoryName"
                [(ngModel)]="category.communityCategoryName"
                readonly
              ></textarea>
            </div>

            <div class="form-group">
              <label for="newCategoryName">New Category Name:</label>
              <textarea
                class="form-control"
                name="newCategoryName"
                [(ngModel)]="newCategoryName"
              ></textarea>
            </div>
            <br />
            <div class="buttons">
              <!-- <button
                  type="submit"
                  class="btn btn-primary custom-btn"
                  [disabled]="!newCategoryName"
                >
                  Update
                </button> -->
              <app-button
                buttonClass="custom-btn"
                buttonName="Update"
                buttonColor="rgb(31, 151, 145)"
                textColor="white"
                hoverColor="rgb(51, 171, 165)"
                hoverTextColor="white"
                [disableButton]="!newCategoryName"
              ></app-button>
              <span></span>
              <!-- <button class="btn btn-default" (click)="closeModal()"></button> -->

              <!-- <button
                  type="button"
                  class="btn btn-danger"
                  (click)="openDeleteCategoryModal(delete)"
                >
                  Delete
                </button> -->
              <app-button
                buttonClass="button"
                buttonName="Delete"
                buttonColor="rgb(31, 151, 145)"
                textColor="white"
                hoverColor="rgb(51, 171, 165)"
                hoverTextColor="white"
                (buttonClick)="openDeleteModal(category.communityCategoryID)"
              ></app-button>
            </div>
          </form>
        </div>
      </ng-template>
      <!-- end of update modal -->

      <!-- delete modal -->
      <ng-template #delete>
        <div class="modal-body text-center">
          <p>Do you want to confirm?</p>
          <!-- <button
              type="button"
              class="btn btn-default"
              (click)="confirm(category.communityCategoryID)"
            >
              Yes
            </button> -->
          <app-button
            buttonClass="button"
            buttonName="Yes"
            buttonColor="rgb(31, 151, 145)"
            textColor="white"
            hoverColor="rgb(51, 171, 165)"
            hoverTextColor="white"
            (buttonClick)="confirm(category.communityCategoryID)"
          ></app-button>
          <!-- <button type="button" class="btn btn-primary" (click)="decline()">
              No
            </button> -->
          <app-button
            buttonClass="button"
            buttonName="No"
            buttonColor="rgb(31, 151, 145)"
            textColor="white"
            hoverColor="rgb(51, 171, 165)"
            hoverTextColor="white"
            (buttonClick)="decline()"
          ></app-button>
        </div>
      </ng-template>
      <!-- end of delete modal -->

      <!-- <app-card
        [title]="category.communityCategoryName ?? 'Default Empty'"
        [width]="'300px'"
        [height]="'50px'"
        (click)="openUpdateModal(update)"
      >
        <div
          class="icon-container"
          [ngClass]="{
            hovered: isCategoryOrIconsHovered(category.communityCategoryID)
          }"
          *ngIf="isCategoryOrIconsHovered(category.communityCategoryID)"
        ></div>
      </app-card> -->
      <span
        class="icon-container"
        [ngClass]="{
          hovered: isCategoryOrIconsHovered(category.communityCategoryID)
        }"
        *ngIf="isCategoryOrIconsHovered(category.communityCategoryID)"
      >
      </span>
    </div>
  </div>
</div>
