<div class="reply-container" *ngIf="reply">
  <div class="reply-header">
    <div class="username">{{ reply.createdUserName }}</div>
    <mat-icon
      *ngIf="
        isThreadCreator(thread) &&
        !reply.isDeleted &&
        bestAnswerId == 0
      "
      class="your_icon"
      (click)="markAsBestAnswer(reply.replyID)"
      matTooltip="Mark as Best Answer"
      [ngStyle]="{ color: 'green' }"
    >
      done_outline
    </mat-icon>
    <mat-icon
      *ngIf="!reply.isDeleted && reply.replyID == bestAnswerId"
      class="your_icon"
      matTooltip="Best Answer"
      [ngStyle]="{ color: 'green' }"
    >
      verified
    </mat-icon>
    <div class="date">{{ reply.createdAt | timeDifference }}</div>
  </div>

  <div class="reply-content" *ngIf="!isHTML(reply.content)">
    {{ reply.content }}
  </div>
  <div
    class="reply-content"
    *ngIf="isHTML(reply.content)"
    [innerHTML]="reply.content"
  ></div>

  <div class="reply-footer">
    <div class="votes">
      <mat-icon
        *ngIf="!reply.isDeleted"
        class="mat_icons"
        (click)="emitUpvote(reply)"
        matTooltip="Upvote"
      >
        arrow_upward
      </mat-icon>
      <p *ngIf="!reply.isDeleted" class="vote_count">
        {{ reply.upvoteCount }}
      </p>

      <mat-icon
        *ngIf="!reply.isDeleted"
        class="mat_icons"
        (click)="emitDownvote(reply)"
        matTooltip="Downvote"
      >
        arrow_downward
      </mat-icon>

      <p *ngIf="!reply.isDeleted" class="vote_count">
        {{ reply.downvoteCount }}
      </p>

      <mat-icon
        *ngIf="isOpenThread"
        class="your_reply_icon"
        (click)="postReply(reply.replyID)"
        matTooltip="Reply"
      >
        reply
      </mat-icon>
      <mat-icon
        *ngIf="isCurrentUser(reply) && !reply.isDeleted && isOpenThread"
        class="your_reply_icon"
        (click)="editReply(reply)"
        matTooltip="Edit Reply"
      >
        edit
      </mat-icon>
      <mat-icon
        (click)="openDeleteModal(reply)"
        *ngIf="isCurrentUser(reply) && !reply.isDeleted && isOpenThread"
        class="your_reply_icon"
        matTooltip="Delete Reply"
      >
        delete
      </mat-icon>
    </div>

    <div class="show-replies">
      <ng-container *ngIf="reply.childReplyCount > 0">
        <span class="show-replies-button" (click)="toggleReplies()">
          {{
            reply.childReplyCount === 1
              ? "1 Reply"
              : reply.childReplyCount + " Replies"
          }}
        </span>
      </ng-container>
    </div>
  </div>
</div>
