<!-- reply-container.component.html -->
<div class="reply-container" *ngIf="reply">
  <div class="reply-header">
    <div class="username">{{ reply.createdUserName }}</div>
    <div class="date">{{ reply.createdAt | timeDifference }}</div>
  </div>
  <!-- <div class="reply-content">
    {{ reply.content }}
  </div> -->
  <div class="reply-content" *ngIf="!isHTML(reply.content)">
    {{ reply.content }}
  </div>
  <div
    class="reply-content"
    *ngIf="isHTML(reply.content)"
    [innerHTML]="reply.content"
  ></div>

  <div class="reply-footer">
    <div class="votes">
      <mat-icon
        class="mat_icons"
        (click)="
          upvote({
            userID: reply.createdBy,
            replyID: reply.replyID,
            isUpVote: true,
            isDeleted: false
          })
        "
        >arrow_upward</mat-icon
      >

      <p class="vote_count">{{ reply.upvoteCount }}</p>
      <mat-icon
        class="mat_icons"
        (click)="
          downvote({
            userID: reply.createdBy,
            replyID: reply.replyID,
            isUpVote: false,
            isDeleted: false
          })
        "
        >arrow_downward
      </mat-icon>
      <p class="vote_count">{{ reply.downvoteCount }}</p>
      <mat-icon class="your_reply_icon" (click)="postReply(reply.replyID)"
        >reply</mat-icon
      >
      <mat-icon class="your_reply_icon">edit</mat-icon>
      <mat-icon class="your_reply_icon">delete</mat-icon>
    </div>

    <div class="show-replies">
      <ng-container
        *ngIf="reply.nestedReplies && reply.nestedReplies.length > 0"
      >
        <span class="show-replies-button" (click)="toggleReplies()">
          {{
            reply.nestedReplies.length === 1
              ? "1 Reply"
              : reply.nestedReplies.length + " Replies"
          }}
        </span>
      </ng-container>
    </div>
  </div>
</div>
