/* reply-container.component.css */

.reply-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.reply-container:hover {
  box-shadow: 0 4px 8px rgba(147, 33, 33, 0.1);
}

.reply-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
  color: #3498db;
}

.date {
  color: #3498db; /* Green color for date */
}

.reply-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.votes {
  font-weight: bolder;
  display: flex;
}
.reply-content {
  margin-bottom: 10px;
}
.votes button {
  margin-right: 10px;
}

.show-replies-button {
  font-weight: bold;
  color: #db978f; /* Red color for replies button */
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.show-replies-button:hover {
  color: #ea4937;
}

.mat_icons {
  margin-right: 5px;
  cursor: pointer;
}
.vote_count {
  margin-right: 10px;
}
.your_reply_icon {
  cursor: pointer;
  margin-right: 10px;
}
