<!-- notices.component.html -->
<div class="container">
  <br />
  <app-page-header
    pageHeaderTitle="Announcements"
    navClass="navbar navbar-dark bg-secondary Page_header"
    [showButton]="false"
  ></app-page-header>
  <br />
  <div class="row">
    <div *ngFor="let notice of notices">
      <app-notice-list
        [sections]="[
          {
            title: 'Icon',
            metadataItems: [{ name: '', icon: 'assets/images/announcement.png' }]
          },
          {
            title: 'Notice Details',
            metadataItems: [
              {
                name: '',
                value: notice.title,
                style: { color: '#64A2F5', fontSize: '16px' }
              }
            ]
          },
          {
            title: 'Notice Content',
            metadataItems: [{ name: '', value: notice.content }]
          },
        ]"
      ></app-notice-list>
    </div>
  </div>
</div>
