<!-- notices.component.html -->
<div class="container">
  <br />
  <app-page-header
    pageHeaderTitle="Announcements"
    navClass="navbar navbar-dark bg-secondary Page_header"
    [showButton]="false"
  ></app-page-header>
  <br />
  <div *ngIf="notices.length <= 0" class="centered-container">
    <div class="content">
      <br />
      <h3>No New Announcements</h3>
      <img src="/assets/images/no-posts.jpg" style="width: 50%; height: 50%" />
    </div>
  </div>
  <div *ngIf="notices.length > 0">
    <div class="row">
      <div *ngFor="let notice of notices">
        <app-notice-list
          [sections]="[
            {
              title: 'Icon',
              metadataItems: [
                { name: '', icon: 'assets/images/announcement.png' }
              ]
            },
            {
              title: 'Notice Details',
              metadataItems: [
                {
                  name: '',
                  value: notice.title,
                  style: { color: '#64A2F5', fontSize: '16px' }
                }
              ]
            },
            {
              title: 'Notice Content',
              metadataItems: [{ name: '', value: notice.content }]
            }
          ]"
        ></app-notice-list>
      </div>
    </div>
  </div>
</div>
