<!-- notices.component.html -->
<div class="container">
  <!-- <a href="home_page" class="breadcrumb_navigation">Home</a>
    <span> > </span>
    <span><a href="community_page" class="breadcrumb_navigation">Community</a></span><br /><br /> -->
  <!-- <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs> -->
  <div class="row">
    <div class="col-8">
      <h1>Notices</h1>
    </div>
    <div class="col-4 text-right"></div>
  </div>

  <div class="row">
    <div *ngFor="let notice of notices">
      <app-list
        [sections]="[
          {
            title: 'Notice Details',
            metadataItems: [
              { name: 'Notice ID', value: notice.noticeID },
              { name: 'Title', value: notice.title }
            ]
          },
          {
            title: 'Notice Content',
            metadataItems: [{ name: 'Content', value: notice.content }]
          },
          {
            title: 'Timestamps',
            metadataItems: [
              {
                name: 'Created At',
                value: notice.createdAt | date : 'dd-MM-yyyy'
              },
              {
                name: 'Modified At',
                value: notice.modifiedAt | date : 'dd-MM-yyyy'
              },
              {
                name: 'Expires At',
                value: notice.expiresAt | date : 'dd-MM-yyyy'
              }
            ]
          }
        ]"
      ></app-list>
    </div>
  </div>
</div>
