<!-- modal to update notice-->
<div class="modal-header">
  <h4 class="modal-title">Edit Notice</h4>
  <button
    type="button"
    class="close notice_modal_header_close"
    (click)="decline()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <!-- input fields for dynamic user input, id is included to automatically fill in the form fields on notice select -->
  <!-- <div class="form-group">
    <label for="noticeID">Notice ID</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="selectedNotice.noticeID"
      name="noticeID"
      id="noticeID"
      required
      readonly
    />
  </div> -->
  <div class="form-group">
    <label for="title">Title<span class="required-field"></span></label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="selectedNotice.title"
      name="title"
      id="title"
      required
      minlength="6"
      maxlength="50"
      pattern=".*\S+.*"
      #titleInput="ngModel"
    />
    <div *ngIf="titleInput?.invalid && (titleInput?.dirty || titleInput?.touched)" class="error-message">
      <div *ngIf="titleInput.errors?.['required']">Please fill out this field.</div>
      <div *ngIf="titleInput.errors?.['minlength']">Title must be at least 6 characters long.</div>
      <div *ngIf="titleInput.errors?.['maxlength']">Title cannot exceed 50 characters.</div>
      <div *ngIf="titleInput.errors?.['pattern']">Title cannot be just empty spaces.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="expiresAt">Expires At<span class="required-field"></span></label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="selectedNotice.expiresAt"
      name="expiresAt"
      id="expiresAt"
      required
      pattern=".*\S+.*"
      bsDatepicker
      [bsConfig]="bsDatepickerConfig"
      #expiresAtInput="ngModel"
    />
    <div *ngIf="expiresAtInput?.invalid && (expiresAtInput?.dirty || expiresAtInput?.touched)" class="error-message">
      <div *ngIf="expiresAtInput.errors?.['required']">Please fill out this field.</div>
      <div *ngIf="expiresAtInput.errors?.['pattern']">Expires At cannot be just empty spaces.</div>
  </div>
  <div class="form-group">
    <label for="content">Content<span class="required-field"></span></label>
    <textarea
      class="form-control"
      [(ngModel)]="selectedNotice.content"
      name="content"
      id="content"
      required
      minlength="6"
      maxlength="250"
      pattern=".*\S+.*"
      #contentInput="ngModel"
    ></textarea>
    <div *ngIf="contentInput?.invalid && (contentInput?.dirty || contentInput?.touched)" class="error-message">
      <div *ngIf="contentInput.errors?.['required']">Please fill out this field.</div>
      <div *ngIf="contentInput.errors?.['minlength']">Content must be at least 6 characters long.</div>
      <div *ngIf="contentInput.errors?.['maxlength']">Content cannot exceed 250 characters.</div>
      <div *ngIf="contentInput.errors?.['pattern']">Content cannot be just empty spaces.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="modifiedBy">Modified By<span class="required-field"></span></label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="selectedNotice.modifiedBy"
      name="modifiedBy"
      required
      pattern=".*\S+.*"
      id="modifiedBy"
      #modifiedByInput="ngModel"
    />
    <div *ngIf="modifiedByInput?.invalid && (modifiedByInput?.dirty || modifiedByInput?.touched)" class="error-message">
      <div *ngIf="modifiedByInput.errors?.['required']">Please fill out this field.</div>
      <div *ngIf="modifiedByInput.errors?.['pattern']">Modified By cannot be just empty spaces.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="communityID">Community ID<span class="required-field"></span></label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="selectedNotice.communityID"
      name="communityID"
      id="communityID"
      required
      pattern=".*\S+.*"
      #communityIDInput="ngModel"
    />
    <div *ngIf="communityIDInput?.invalid && (communityIDInput?.dirty || communityIDInput?.touched)" class="error-message">
      <div *ngIf="communityIDInput.errors?.['required']">Please fill out this field.</div>
      <div *ngIf="communityIDInput.errors?.['pattern']">Community ID cannot be just empty spaces.</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <app-button
    buttonClass="button"
    buttonName="Update Notice"
    buttonColor="rgb(31, 151, 145)"
    textColor="white"
    hoverColor="rgb(51, 171, 165)"
    hoverTextColor="white"
    (buttonClick)="updateNotice()"
  ></app-button>
 <app-button
    buttonClass="button"
    buttonName="Close"
    buttonColor="#6c757d"
    textColor="white"
    hoverColor="#5c636a"
    hoverTextColor="white"
    buttonType="button"
    (buttonClick)="decline()"
  ></app-button>
</div>
