<div class="container">
  <app-page-header
    navClass="navbar navbar-dark bg-secondary Page_header"
    pageHeaderTitle="Communities"
    (ButtonClick)="navigateToAdminDashboard()"
    ButtonName="Admin Dashboard"
  ></app-page-header>
  <br />
  <div class="page_body">
    <div class="card" style="width: 15rem; height: fit-content">
      <div class="card-body">
        <h3 class="card-title">Experion Discussion</h3>
        <!-- <p class="card-text">
            {{ category.description }}
          </p> -->
        <!-- <p>
            number of posts: <span>{{ category.threadCount }}</span>
          </p> -->
        <!-- <app-button
          buttonClass="btn btn-primary"
          buttonName="View Community"
          (buttonClick)="navigateToCommunity()"
        ></app-button> -->
        <app-button
          buttonClass="button"
          buttonName="View Community"
          buttonColor="rgb(31, 151, 145)"
          textColor="white"
          hoverColor="rgb(51, 171, 165)"
          hoverTextColor="white"
          (buttonClick)="navigateToCommunity()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
