<ng-container class="container"
  ><app-loader *ngIf="isLoading"></app-loader
></ng-container>
<div class="container">
  <app-page-header
    navClass="navbar navbar-dark bg-secondary Page_header"
    pageHeaderTitle="Communities"
    (ButtonClick)="navigateToAdminDashboard()"
    ButtonName="Admin Dashboard"
    *ngIf="isSuperAdmin"
  ></app-page-header>
  <app-page-header
    navClass="navbar navbar-dark bg-secondary Page_header"
    pageHeaderTitle="Communities"
    *ngIf="!isSuperAdmin"
    [showButton]="false"
  ></app-page-header>
  <br />
  <div class="page_body">
    <div *ngFor="let community of communities">
      <app-card
        [metadataItems]="[
          {
            name: '',
            value: '',
            imageSrc: 'assets/images/community.png'
          },
          {
            name: '',
            value: community.communityName,
            style: { color: '#64A2F5', fontSize: '16px' },
          },
          {
            name: '',
            value: community.categoryCount + ' categories',
          },
          {
            name: '',
            value: community.postCount + ' posts',
          },
          {
            name: '',
            value: 'Top categories : ' + community.topCategories,
          }
        ]"
        [defaultImageWidth]="'50px'"
        [defaultImageHeight]="'50px'"
        [marginTop]="'10px'"
        (click)="
          navigateToCommunity(community.communityID, community.communityName)
        "
      >
      </app-card>
    </div>
  </div>
</div>
