<!-- <div class="container">
<h2>Create a Post</h2>
<editor [init]="editorInit"></editor>
<app-button
    buttonClass="button"
    buttonName="Post"
    buttonColor="rgb(31, 151, 145)"
    textColor="white"
    hoverColor="rgb(51, 171, 165)"
    hoverTextColor="white"
    (buttonClick)="onSubmit()"
    id="create_post_button"
    ></app-button>
    <app-button
    buttonClass="button"
    buttonName="Cancel"
    buttonColor="rgb(31, 151, 145)"
    textColor="white"
    hoverColor="rgb(51, 171, 165)"
    hoverTextColor="white"
    (buttonClick)="goBack()"
    id="goback_button"
></app-button>
</div> -->

<!-- <div class="container">
    <h2>{{ heading }}</h2>
    <editor [init]="editorInit"></editor>

    <app-button
      buttonClass="button"
      [buttonName]="firstButtonName"
      buttonColor="rgb(31, 151, 145)"
      textColor="white"
      hoverColor="rgb(51, 171, 165)"
      hoverTextColor="white"
      (buttonClick)="onFirstButtonClick()"
      id="create_post_button"
    ></app-button>

    <app-button
      buttonClass="button"
      [buttonName]="secondButtonName"
      buttonColor="rgb(31, 151, 145)"
      textColor="white"
      hoverColor="rgb(51, 171, 165)"
      hoverTextColor="white"
      (buttonClick)="onSecondButtonClick()"
      id="goback_button"
    ></app-button>
</div> -->
<div class="container">
<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<app-editor
  [heading]="'Create Post'"
  [firstButtonName]="'Post'"
  [secondButtonName]="'Cancel'"
  (onFirstButtonClick)="onSubmit($event)"
  (onSecondButtonClick)="goBack()"
  
></app-editor>
</div>
<!-- (secondButtonClick)="goBack()" -->