.container{
    width: 80%;
    margin-left: 10%;
}
#create_post_button{
    float:right ;
    margin-top: 3%;
  }
#goback_button{
    float:right ;
    margin-top: 3%;
    margin-right: 3%;
}

app-editor{
    width: 100%;
}