<!-- notices.component.html -->
<div class="container">
  <a href="home_page" class="breadcrumb_navigation">Home</a>
  <span> > </span>
  <span><a href="community_management_dashboard" class="breadcrumb_navigation">Community management</a></span
  ><br /><br />
  <div class="row">
    <div class="col-8">
      <h1>Notices</h1>
    </div>
    <div class="col-4 text-right">
     <app-button
        buttonClass="btn btn-primary notices_body_create_button"
        buttonName="Create Notice"
        (buttonClick)="openModal(openmodalTemplate)"  
      ></app-button>
      <!-- on button click opens modal to create notice -->
    </div>
  </div>
  <!-- dislays active notices -->
  <div *ngFor="let notice of notices">
    <div class="card">
      <div class="card-body">
        <b
          ><span class="notice_id">Notice ID: {{ notice.noticeID }}</span></b
        ><br /><br />
        <h3 class="card-title notice_title">{{ notice.title }}</h3>
        <p class="card-text">{{ notice.content }}</p>
         <p class="card-text">
          Created At: {{ notice.createdAt | date : "dd-MM-yyyy" }}
          <ng-container *ngIf="notice.modifiedAt">
            &nbsp;&nbsp;|&nbsp;&nbsp; Modified At:
            {{ notice.modifiedAt | date : "dd-MM-yyyy" }}</ng-container
          >
          &nbsp;&nbsp;|&nbsp;&nbsp; Expires At:
          {{ notice.expiresAt | date : "dd-MM-yyyy" }}
        </p>
        <!-- utilises icons for edit and delete to open corresponding modals -->
        <app-icon class="notices_body_edit_icon"
        [iconName]="faEdit"
        (click)="openUpdateModal(updatemodalTemplate, notice)"></app-icon>
        <app-icon class="notices_body_delete_icon"
          [iconName]="faDelete"
          (click)="openDeleteModal(delete, notice)"></app-icon>
      </div>
    </div>
    <hr />
  </div>
  

  <!-- modal for notice creation -->
  <ng-template #openmodalTemplate>
    <div class="modal-header">
      <h4 class="modal-title">Create Notice</h4>
      <button
        type="button"
        class="close notice_modal_header_close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- input fields for dynamic user input -->
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="newNotice.title"
          name="title"
          required
        />
      </div>
      <div class="form-group">
        <label for="expiresAt">Expires At</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="newNotice.expiresAt"
          name="expiresAt"
          required
          autocomplete="off"
          bsDatepicker
          [bsConfig]="bsDatepickerConfig"
        /> <!-- Utilizes the ngx-bootstrap datepicker -->
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea
          class="form-control"
          [(ngModel)]="newNotice.content"
          name="content"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <label for="communityID">Community ID</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="newNotice.communityID"
          name="communityID"
          required
        />
      </div>
      <div class="form-group">
        <label for="createdBy">Created By</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="newNotice.createdBy"
          name="createdBy"
          required
        />
      </div>
    </div>
    <div class="modal-footer">
      <app-button
        buttonClass="btn btn-primary"
        buttonName="Add Notice"
        (buttonClick)="addNotice()"
      ></app-button>
      <button
        type="button"
        class="btn btn-secondary modal_close_button"
        (click)="modalRef?.hide()"
      >
        Close
      </button>
      <!-- buttons to add notice and hide modal  -->
    </div>
  </ng-template>

  <!-- modal to update notice-->
  <ng-template #updatemodalTemplate>
    <div class="modal-header">
      <h4 class="modal-title">Edit Notice</h4>
      <button
        type="button"
        class="close notice_modal_header_close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <!-- input fields for dynamic user input , id is included to automatically fill in the form fields on notice select-->
      <div class="form-group">
        <label for="noticeID">Notice ID</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedNotice.noticeID"
          name="noticeID"
          id="noticeID"
          required
        />
      </div>
      <div class="form-group">
        <label for="communityID">Community ID</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedNotice.communityID"
          name="communityID"
          id="communityID"
        />
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedNotice.title"
          name="title"
          id="title"
        />
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea
          class="form-control"
          [(ngModel)]="selectedNotice.content"
          name="content"
          id="content"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="expiresAt">Expires At</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedNotice.expiresAt"
          name="expiresAt"
          id="expiresAt"
        />
      </div>
      <div class="form-group">
      <label for="modifiedBy">Modified By</label>
      <input type="text" class="form-control" [(ngModel)]="selectedNotice.modifiedBy" name="modifiedBy">
      </div>
    </div>
  <div class="modal-footer">
      <app-button buttonClass="btn btn-primary" buttonName="Update Notice" (buttonClick)="updateNotice()"></app-button>
    <button type="button" class="btn btn-secondary modal_close_button" (click)="modalRef?.hide()">Close</button>
  </div>
</ng-template>


<!-- modal for delete confirmation -->
<ng-template #delete>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <app-button buttonClass="btn btn-primary" buttonName="Yes" (buttonClick)="deleteNotice()"></app-button>
    <button type="button" class="btn btn-default" (click)="modalRef?.hide()">No</button>
  </div>
</ng-template>