<!-- <div
  class="nested-replies"
  *ngIf="nestedReply.nestedReplies && nestedReply.nestedReplies.length > 0"
>
  <div class="card1" *ngFor="let nestedreply of nestedReply.nestedReplies">
    <app-reply-list
      [isOpenThread]="isOpenThread"
      [reply]="nestedreply"
      (upvoteEvent)="handleUpvote($event)"
      (downvoteEvent)="handleDownvote($event)"
      (deleteReplyEvent)="onDeleteReply($event)"
    ></app-reply-list>

    <app-nested-replies
      [isOpenThread]="isOpenThread"
      [nestedReply]="nestedreply"
      (upvoteEvent)="handleUpvote($event)"
      (downvoteEvent)="handleDownvote($event)"
      (deleteReplyEvent)="onDeleteReply($event)"
    ></app-nested-replies>
  </div>
</div> -->
