<!-- <div class="thread-replies-container" *ngIf="threadRepliesStatus">
  <ng-container *ngFor="let replyObject of sortedReplies; let i = index">
    <div
      class="reply-container"
      [style.margin-left.px]="getDepthLevel(replyObject) * 40"
    >
      <app-reply-list
        [reply]="replyObject.reply"
        [isOpenThread]="isOpenThread"
        [upvoteSuccessEvent]="upvoteSuccessEvent"
        [downvoteSuccessEvent]="downvoteSuccessEvent"
        (toggleRepliesEvent)="toggleNestedReplies(i)"
        (upvoteEvent)="handleUpvote($event)"
        (downvoteEvent)="handleDownvote($event)"
        (deleteReplyEvent)="onDeleteReply($event)"
      ></app-reply-list>
      <br />
    </div>
  </ng-container>
</div> -->
