/* list.component.css */
.list {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  width: calc(100% - 20px);
  transition: background-color 0.3s ease, transform 0.5s ease,
    box-shadow 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list:hover {
  background-color: rgb(217, 224, 224);
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.is-active-now {
  text-align: center;
  flex-grow: 1;
}

.icons-container {
  display: flex;
}

.metadata-container {
  display: flex;
  flex-wrap: wrap;
}

.metadata-column {
  flex: 1;
  margin-right: 150px;
}

.metadata-column-1 {
  width: 125px;
  position: relative;
}

.metadata-column-1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0.5px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(112, 112, 112),
    rgba(255, 255, 255, 0)
  );
}

.metadata-column-1 .metadata-item-1 {
  color: #ba5047;
  font-weight: bold;
}

.metadata-column-1 .metadata-item-2 {
  font-size: x-small;
}

.metadata-column-1 .metadata-item-3 {
  margin-top: 4px;
  font-size: small;
  margin-bottom: 4px;
}

.metadata-column-2 {
  margin-left: 10px;
}

.metadata-column-2 .metadata-item-1 {
  font-size: larger;
  color: rgb(100, 162, 245);
  font-weight: bolder;
}

.metadata-column-2 .metadata-item-2 {
  font-size: small;
}

.metadata-column-2 .metadata-item-3 {
  font-size: x-small;
  margin-top: 27px;
}

.metadata-item {
  margin-bottom: 5px;
}
