.user_container {
  margin-left: 80px;
  margin-top: 55px;
  padding-left: 20px;
  padding-right: 20px;
}
.header_text {
  font-weight: 500;
  font-size: x-large;
  padding-left: 30px;
  color: #ffffff;
}
.navbar {
  border-radius: 5px;
}
.user_search {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}

.search_input {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search_button {
  background-color: rgb(31, 151, 145);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search_button:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  /* background-color: rgb(129, 129, 137); */
}

.pagination {
  margin-top: 20px;
}

.prevButton {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(31, 151, 145);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px; /* Adjusted font size */
  padding: 10px; /* Adjusted padding */
  width: 100px; /* Adjusted width */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.nextButton {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(31, 151, 145);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px; /* Adjusted font size */
  padding: 10px; /* Adjusted padding */
  width: 100px; /* Adjusted width */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.prevButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.prevButton span:after {
  content: "«";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.nextButton span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.prevButton:hover span {
  padding-right: 15px;
}

.nextButton:hover span {
  padding-right: 15px;
}

.prevButton:hover span:after {
  opacity: 1;
  right: 0;
}

.nextButton:hover span:after {
  opacity: 1;
  right: 0;
}

.pagination {
  display: flex;
  justify-content: center;
}
