<div class="container">
  <div class="top_nav">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  </div>
  <br />
  <app-page-header
    pageHeaderTitle="Experion Discussion"
    navClass="navbar navbar-dark bg-secondary Page_header"
    ButtonName="Community Management"
    (ButtonClick)="navigateToCommunityManagement(communityID)"
  />
  <br />

  <div class="row">
    <div *ngFor="let category of categoriesList" class="col-md-4">
      <app-card
        [metadataItems]="[
        {
          name: '',
          value: '',
          imageSrc: 'assets/images/category.png'
        },
          {
            name: '',
            value: category.communityCategoryName,
            style: { color: '#64A2F5', fontSize: '16px' },
          },
          { name: 'number of posts', value: category.threadCount }
        ]"
        (click)="navigateToPosts(category.communityCategoryMappingID)"
      >
      </app-card>
    </div>
  </div>
  <!-- <div class="page_body">
    <div
      class="card"
      style="width: 18.5rem; height: fit-content"
      *ngFor="let category of categoriesList"
    >
      <div
        class="card-body"
        (click)="navigateToPosts(category.communityCategoryMappingID)"
      >
        <p class="card-text">
          Category ID : {{ category.communityCategoryMappingID }}
        </p>
        <h3 class="card-title" style="font-weight: bold">
          {{ category.communityCategoryName }}
        </h3>

        <p>
          Description :
          <span
            ><p class="card-text">
              {{ category.description }}
            </p></span
          >
        </p>
        <p>
          number of posts: <span>{{ category.threadCount }}</span>
        </p>
      </div>
    </div>
  </div> -->

  <br /><br />
  <div class="pagination mt-3">
    <button (click)="prevPage()" class="prevButton">
      <span>Back</span>
    </button>
    <button (click)="nextPage()" class="nextButton">
      <span>Next</span>
    </button>
  </div>
</div>
