<div class="container">
  <div class="top_nav">
    <div>
      <a href="/home_page" class="breadcrumb_navigation">Home</a>
      <span> > </span>
      <span
        ><a href="/community_page" class="breadcrumb_navigation"
          >Community</a
        ></span
      >
    </div>
    <div class="create_button">
      <app-button
        buttonClass="btn btn-primary"
        buttonName="Community Management"
        (buttonClick)="navigateToCommunityManagement(communityID)"
      ></app-button>
    </div>
  </div>
  <br />
  <nav class="navbar navbar-dark bg-secondary">
    <p class="header_text">Experion Discussion</p>
    <div class="user_search">
      <input
        type="text"
        placeholder="Search"
        class="search_input"
        [(ngModel)]="searchTerm"
        (keyup.enter)="searchResult(searchTerm)"
      />
      <button
        type="submit"
        class="search_button"
        (click)="searchResult(searchTerm)"
      >
        Search
      </button>
    </div>
  </nav>
  <br />
  <div class="page_body">
    <app-category-card
      [categoriesList]="categoriesList"
      class="category_card"
    ></app-category-card>
  </div>
  <br /><br />
  <div class="pagination mt-3">
    <button (click)="prevPage()" class="prevButton">
      <span>Back</span>
    </button>
    <button (click)="nextPage()" class="nextButton">
      <span>Next</span>
    </button>
  </div>
</div>
