<div class="container">
  <div class="top_nav">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  </div>
  <app-page-header
    pageHeaderTitle="Experion Discussion"
    navClass="navbar navbar-dark bg-secondary Page_header"
    ButtonName="Community Management"
    (ButtonClick)="navigateToCommunityManagement(communityID)"
  />
  <br />

  <div class="row">
    <div *ngFor="let category of categoriesList" class="col-md-4">
      <app-card
        [metadataItems]="[
          { name: 'Category ID', value: category.communityCategoryMappingID },
          { name: '', value: category.communityCategoryName },
          { name: 'number of posts', value: category.threadCount }
        ]"
        (click)="navigateToPosts(category.communityCategoryMappingID)"
      >
      </app-card>
    </div>
  </div>
  <br /><br />
  <div class="pagination mt-3">
    <button (click)="prevPage()" class="prevButton">
      <span>Back</span>
    </button>
    <button (click)="nextPage()" class="nextButton">
      <span>Next</span>
    </button>
  </div>
</div>
