.table_row {
  transition: transform 0.8s ease;
}

.table_row:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.table_head {
  background-color: aqua;
}

/* Add this style to your component's CSS or global styles */
table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border: 2px;
}

th,
td {
  padding: 12px;
  text-align: left;
}

tr {
  transition: background-color 0.3s ease;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}
tr:nth-child(even) {
  background-color: #f0f0f0;
}

.mat-mdc-row,
.mdc-data-table__content {
  font-family: "Montserrat" !important;
}

.mat-mdc-header-row {
  font-family: "Montserrat" !important;
  font-weight: bolder;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}