:host * {
  transition: all 500ms ease-in-out;
}
.sidenav_header {
  padding-top: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.sidenav_text {
  height: 3rem;
}
.sidenav_text h2 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.sidenav_text p {
  margin: 0;
  font-size: 0.8rem;
}

.hide_header_text {
  opacity: 0;
  height: 0px !important;
}
mat-nav-list {
  padding-top: 50px;
}

.sidenav_menu_item {
  border-right: 5px solid;
  border-right-color: rgb(0, 0, 0, 0);
}

.selected_menu_item {
  border-right-color: black;
}
.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--selected.mdc-list-item--with-leading-icon
  .mdc-list-item__start,
.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--activated.mdc-list-item--with-leading-icon
  .mdc-list-item__start {
  color: black;
}
.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--selected
  .mdc-list-item__primary-text,
.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--activated
  .mdc-list-item__primary-text {
  color: black;
}

/* .logout{
  bottom: 10px;
  margin-top:100px;
  margin-left: 15px;
  color: rgb(0, 0, 0);
} */

/* .logout:hover{
  cursor: pointer;
} */

.logout-wrapper {
  display: flex;
  justify-content: left; /* Center the icon horizontally */
  margin-top: 100px;
  margin-left: 15px;
}

.material-icons.logout {
  font-size: 24px; /* Set the font size */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: transform 0.3s, background-color 0.3s; /* Add transition effects */
  color: rgba(0, 0, 0, 0.667); /* Set icon color */
  padding: 8px; /* Add padding to the icon */
}

.material-icons.logout:hover {
  cursor: pointer;
  transform: scale(1.1); /* Increase size on hover */
  background: linear-gradient(
    135deg,
    #00c9ff,
    #49efec
  ); /* Change gradient on hover */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadow */
  background: linear-gradient(
    135deg,
    #31c5c3,
    #00c9ff
  ); /* Add gradient background */
  border-radius: 50%; /* Make it round */
}
