:host * {
  transition: all 500ms ease-in-out;
}
.sidenav_header {
  padding-top: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.sidenav_text {
  height: 3rem;
}
.sidenav_text h2 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.sidenav_text p {
  margin: 0;
  font-size: 0.8rem;
}

.hide_header_text {
  opacity: 0;
  height: 0px !important;
}
mat-nav-list {
  padding-top: 50px;
}

.sidenav_menu_item {
  border-right: 5px solid;
  border-right-color: rgb(0, 0, 0, 0);
}

.selected_menu_item {
  border-right-color: black;
}
.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--selected.mdc-list-item--with-leading-icon
  .mdc-list-item__start,
.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--activated.mdc-list-item--with-leading-icon
  .mdc-list-item__start {
  color: black;
}
.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--selected
  .mdc-list-item__primary-text,
.mat-mdc-list-base.mat-mdc-list-base
  .mdc-list-item--activated
  .mdc-list-item__primary-text {
  color: black;
}

.logout{
  bottom: 10px;
  margin-top:100px;
  margin-left: 17px;
  color: rgb(0, 0, 0);
}

.logout:hover{
  cursor: pointer;
}