<mat-nav-list>
  <a
    mat-list-item
    class="sidenav_menu_item"
    *ngFor="let item of menuItems()"
    [routerLink]="item.routes"
    routerLinkActive="selected_menu_item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
      [matTooltip]="item.label"
      >{{ item.icon }}</mat-icon
    >
    <span
      matListItemTitle
      *ngIf="!sideNavCollapsed()"
      style="font-family: 'Montserrat', sans-serif !important"
      >{{ item.label }}</span
    >
  </a>
  <div class="logout-wrapper">
    <span
      class="material-icons logout"
      (click)="handleLogOut()"
      matTooltip="Logout"
      >exit_to_app</span
    >
  </div>
</mat-nav-list>
<!-- <mat-icon class="logout" >logout</mat-icon> -->
<!-- <span class="material-icons logout" (click)="handleLogOut()" matTooltip="Logout">
  exit_to_app
  </span> -->
