:host * {
  transition: all 500ms ease-in-out;
}
.sidenav_header {
  padding-top: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.sidenav_text {
  height: 3rem;
}
.sidenav_text h2 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.sidenav_text p {
  margin: 0;
  font-size: 0.8rem;
}

.hide_header_text {
  opacity: 0;
  height: 0px !important;
}
mat-nav-list {
  padding-top: 50px;
}

.sidenav_menu_item {
  border-right: 5px solid;
  border-right-color: rgb(0, 0, 0, 0);
}

.selected_menu_item {
  border-right-color: #3f51b5;
}
