<!-- <div class="sidenav_header" [class.hide_header_text]="sideNavCollapsed()">
  <div class="sidenav_text">
    <h2>Hi there</h2>
    <p>Screens</p>
  </div>
</div> -->
<mat-nav-list>
  <!-- using property binding [], directive, #template reference variable -->
  <a
    mat-list-item
    class="sidenav_menu_item"
    *ngFor="let item of menuItems()"
    [routerLink]="item.routes"
    routerLinkActive="selected_menu_item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
      >{{ item.icon }}</mat-icon
    >
    <span matListItemTitle *ngIf="!sideNavCollapsed()">{{ item.label }}</span>
  </a>
</mat-nav-list>
