  .modal-header {
    width: fit-content;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .upper_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
    border-radius: 3%;
    width:80%;
    margin-top: 20px;
  }
  
  .upper_side img {
    width: 80px;
    height: 80px;
  }

  .lower_side{
    display: flex;
    font-size: smaller;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .my_posts{
    width: 200px;
    background-color: white;
    color: rgb(31, 151, 145);
    text-decoration: none;
    border-radius: 5px;
    font-size: smaller;
  }

  .my_posts:hover {
    color: white;
    background-color: rgb(51, 171, 165);
  }

  .saved_posts{
    margin-top: 7px;
    width: 200px;
    background-color: white;
    color: rgb(31, 151, 145);
    text-decoration: none;
    border-radius: 5px;
    font-size: smaller;
  }

  .saved_posts:hover {
    color: white;
    background-color: rgb(51, 171, 165);
  }

  .user_dashboard_buttons{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
