<!-- community-management.component.html -->
<div class="container">
  <div>
    <a href="/home_page" class="breadcrumb_navigation">Home</a>
    <span> > </span>
    <span
      ><a href="/community_management_dashboard" class="breadcrumb_navigation"
        >Community Management</a
      ></span
    >
  </div>
  <br />
  <nav class="navbar navbar-dark bg-secondary">
    <p class="header_text">Community Management</p>
  </nav>
  <br />
  <div class="row">
    <div *ngFor="let titles of cardTitles" class="col-md-4">
      <app-card
        [title]="titles.title"
        (click)="navigateToCard(titles.path)"
      ></app-card>
    </div>
  </div>
</div>
