<div class="container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <br />
  <app-page-header
    pageHeaderTitle="Community Management"
    navClass="navbar navbar-dark bg-secondary Page_header"
    [showButton]="false"
  />
  <br />

  <div class="row">
    <div *ngFor="let titles of cardTitles" class="col-md-4">
      <app-card
        [metadataItems]="[
          {
            name: '',
            value: '',
            imageSrc: titles.imageSrc
          },
          { name: '', value: titles.title }
        ]"
        [defaultImageWidth]="'30px'"
        [defaultImageHeight]="'30px'"
        [marginTop]="'-5px'"
        (click)="navigateToCard(titles.path)"
      ></app-card>
    </div>
  </div>

  <app-bar-chart
    *ngIf="categoryChartOptions"
    [chartOptions]="categoryChartOptions"
    [width]="'57rem'"
    [height]="'360px'"
  ></app-bar-chart>
</div>
