<app-header></app-header>
<app-sidenav class="sidenav_component"></app-sidenav>
<!-- <app-user-edit></app-user-edit>
<app-notices></app-notices>
<app-community-page></app-community-page>
<app-category-threads></app-category-threads>
<app-category-management></app-category-management>
<app-user-management></app-user-management>
<app-community-management-dashboard></app-community-management-dashboard>
<app-user-notices></app-user-notices> -->
<!-- <app-home-page></app-home-page> -->
<router-outlet></router-outlet>
