<div class="container">
    <h2>{{ heading }}</h2>
    <editor [init]="editorInit"></editor>

    <app-button
      buttonClass="button"
      [buttonName]="firstButtonName"
      buttonColor="rgb(31, 151, 145)"
      textColor="white"
      hoverColor="rgb(51, 171, 165)"
      hoverTextColor="white"
      (buttonClick)="FirstButton()"
      id="create_post_button"
    ></app-button>

    <app-button
      buttonClass="button"
      [buttonName]="secondButtonName"
      buttonColor="rgb(31, 151, 145)"
      textColor="white"
      hoverColor="rgb(51, 171, 165)"
      hoverTextColor="white"
      (buttonClick)="SecondButton()"
      id="goback_button"
    ></app-button>
</div>
