<div class="notification_container">
  <br />
  <div class="header_options">
    <app-dropdown-select
      [dropdownOptions]="parentDropdownOptions"
      (optionSelected)="handleOptionSelected($event)"
    ></app-dropdown-select>
    <button-toggle
      [sortOptions]="sortOptions"
      (sortSelectionChange)="onSortSelectionChange($event)"
    ></button-toggle>
  </div>
  <div *ngIf="notifications.length <= 0" class="centered-container">
    <div class="content">
      <br />
      <h3>No New Notifications</h3>
      <img src="/assets/images/no-posts.jpg" style="width: 50%; height: 50%" />
    </div>
  </div>
  <div *ngIf="notifications.length > 0">
    <div *ngFor="let notification of notifications">
      <app-notfication-list
        [notification]="notification"
        (markAsRead)="onMarkAsRead($event)"
      ></app-notfication-list>
    </div>
  </div>

  <!-- Pagination buttons -->
  <div class="pagination mt-3" *ngIf="notifications.length > 0">
    <button (click)="prevPage()" class="prevButton">
      <span>Back</span>
    </button>
    <button (click)="nextPage()" class="nextButton">
      <span>Next</span>
    </button>
  </div>
</div>
