main {
  background-image: url("../../../assets/images/Discussit!.png");
  background-size: cover;
  min-height: 100vh;
}

#box {
  background-color: rgb(38, 38, 38);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

hr {
  border: 1px solid #ffffff;
}

p {
  font-size: 1.1em;
}

#logo {
  width: 50%;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(217, 217, 217);
  color: rgb(106, 106, 106);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
}

.text-white {
  font-size: 24px;
  font-weight: bolder;
}
.ms-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../../assets/images/micro-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

input[type="email"] {
  background-color: rgb(38, 38, 38);
  border: none;
  border-bottom: 2px solid #0db8de;
  border-top: 0px;
  border-radius: 0px;
  font-weight: 600;
  outline: 0;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ecf0f5;
}

input[type="password"] {
  background-color: rgb(38, 38, 38);
  border: none;
  border-bottom: 2px solid #0db8de;
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  text-align: center;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ecf0f5;
}

.valid-error {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-control-label {
  font-size: 10px;
  color: #6c6c6c;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-group {
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0db8de;
  outline: 0;
  background-color: rgb(38, 38, 38);
  color: rgb(236, 240, 245);
}

.btn {
  background-color: rgb(37, 37, 37);
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.signin {
  border-color: #0db8de;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.signin:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #0db8de;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}

.signin:hover {
  color: #fff;
}

.signin:hover:after {
  width: 110%;
}

h4 {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-weight: lighter;
  font-size: medium;
  letter-spacing: 1px;
}

h4:before,
h4:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #6c6c6c;
  margin: auto;
}

a {
  cursor: pointer;
}
