<main class="text-center d-flex justify-content-center align-items-center">
  <div class="row">
    <div id="box" class="col-lg-7 col-sm-7 h-100 mx-auto">
      <img
        src="../../../assets/images/experion_logo.png"
        id="logo"
        class="py-4"
      />
      <p class="text-white">Discussit</p>
      <br />
      <h4></h4>
      <a #loginButton (click)="handleMicrosoftLogin()">
        <span class="ms-logo"></span>
        Sign in with Microsoft
      </a>
      <br /><br />
    </div>
  </div>
</main>
