<div class="container">
  <div>
    <a href="/home_page" class="breadcrumb_navigation">Home</a>
    <span> > </span>
    <span
      ><a href="/community_page" class="breadcrumb_navigation"
        >Community</a
      ></span
    >
  </div>
  <div class="page_top">
    <h1>Experion Discussion</h1>
    <app-button
      buttonClass="btn btn-primary"
      buttonName="Community Management"
      (buttonClick)="navigateToCommunityManagement(communityID)"
    ></app-button>
  </div>
  <div class="page_body">
    <div
      class="card"
      style="width: 50rem; height: fit-content"
      *ngFor="let category of categories"
    >
      <div
        class="card-body"
        (click)="navigateToPosts(category.communityCategoryMappingID)"
      >
        <p class="card-text">
          Category ID : {{ category.communityCategoryMappingID }}
        </p>
        <h3 class="card-title" style="font-weight: bold">
          {{ category.communityCategoryName }}
        </h3>
        <p class="card-text">
          {{ category.description }}
        </p>
        <p>
          number of posts: <span>{{ category.threadCount }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
