<main class="d-flex justify-content-center align-items-center">
  <div
    class="rounded w-50 bg-white d-flex flex-column justify-content-center align-items-center"
  >
    <br />
    <img
      class="img-thumbnail"
      src="../../../assets/images/unauth.jpg"
      alt="401- Unauthorized"
    />
    <p class="h2 p-2">401 - Unauthorized</p>
    <span class="caption p-1">Your authorization failed!</span>
    <span class="caption p-2">Please login using an authorized account.</span>
    <br /><br />
  </div>
</main>
