<div class="container">
  <div>
    <a href="/home_page" class="breadcrumb_navigation">Home</a>
    <span> > </span>
    <span
      ><a href="/community_page" class="breadcrumb_navigation"
        >Community</a
      ></span
    >
    <span> > </span>
    <span
      ><a href="/category_threads" class="breadcrumb_navigation"
        >Category</a
      ></span
    >
  </div>
  <br />
  <app-button buttonClass="btn btn-primary" id="createpost_btn" buttonName="Create Post" (buttonClick)="createPost()"></app-button>
  <h1>Category Name : Web Design</h1>
  <h3>Category Description : Discussion on web development</h3>
  <app-list
    *ngFor="let val of value"
    [createdBy]="val.createdBy"
    [status]="val.threadStatus"
    [createdOn]="formatDate(val.createdAt)"
    [post]="val.content"
  >
  </app-list>
</div>
