<!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group> -->

<mat-button-toggle-group
  name="Sort"
  aria-label="Font Style"
  (change)="onToggleChange($event)"
>
  <ng-container *ngFor="let option of sortOptions">
    <mat-button-toggle [value]="option.toLowerCase()">
      {{ option }}
    </mat-button-toggle>
  </ng-container>
</mat-button-toggle-group>

<!-- <mat-button-toggle-group name="Sort" aria-label="Font Style">
  <mat-button-toggle value="name">Name</mat-button-toggle>
  <mat-button-toggle value="score">Score</mat-button-toggle>
  <mat-button-toggle value="departement">Departement</mat-button-toggle>
  <mat-button-toggle value="designation">Designation</mat-button-toggle>
  <mat-button-toggle value="createdAt">Created On</mat-button-toggle>
</mat-button-toggle-group> -->
