<!-- category-edit-modal.component.html -->
<div class="modal-header">
  <h4 class="modal-title">Update Category</h4>
  <button mat-icon-button class="close-icon" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="updateCategoryDescription()" #categoryForm="ngForm">
    <div class="form-group">
      <label for="oldDescription">Old Description:</label>
      <textarea class="form-control" [(ngModel)]="description" readonly>{{
        description
      }}</textarea>
    </div>

    <div class="form-group">
      <label for="newDescription"
        ><span class="required">*</span>New Description:</label
      >
      <textarea
        class="form-control"
        name="newDescription"
        [(ngModel)]="newDescription"
        required
        minlength="6"
        maxlength="200"
        pattern=".*\S+.*"
        #categoryDescriptionInput="ngModel"
      ></textarea>
      <div
        *ngIf="
          categoryDescriptionInput?.invalid &&
          (categoryDescriptionInput?.dirty || categoryDescriptionInput?.touched)
        "
        class="error-message"
      >
        <div *ngIf="categoryDescriptionInput.errors?.['required']">
          Please fill out this field.
        </div>
        <div *ngIf="categoryDescriptionInput.errors?.['minlength']">
          New Description must be at least 6 characters long.
        </div>
        <div *ngIf="categoryDescriptionInput.errors?.['maxlength']">
          New Description cannot exceed 50 characters.
        </div>
        <div *ngIf="categoryDescriptionInput.errors?.['pattern']">
          New Description cannot be just empty spaces.
        </div>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="modifiedBy"
        ><span class="required">*</span>Modified By:</label
      >
      <input
        type="text"
        class="form-control"
        name="modifiedBy"
        [(ngModel)]="modifiedBy"
        required
      />
      <span
        class="form_error"
        *ngIf="
          categoryForm.controls['modifiedBy']?.invalid &&
          categoryForm.controls['modifiedBy'].touched
        "
      >
        *Modified By is required for update
      </span>
    </div> -->

    <br />
    <div class="buttons">
      <app-button
        buttonClass="button btn btn-primary custom-btn"
        buttonName="Update"
        buttonColor="rgb(31, 151, 145)"
        textColor="white"
        hoverColor="rgb(51, 171, 165)"
        hoverTextColor="white"
        [disableButton]="!categoryForm.valid"
      ></app-button>
      <span></span>
      <span>
        <app-button
          buttonClass="button"
          buttonName="Delete"
          buttonColor="#5c636a"
          textColor="white"
          hoverColor="red"
          hoverTextColor="white"
          buttonType="button"
          (buttonClick)="openDeleteModal()"
        ></app-button>
        <!-- communityCategoryMappingID -->
      </span>
    </div>
  </form>
</div>
