<ng-container class="container"
  ><app-loader *ngIf="isLoading"></app-loader
></ng-container>
<div class="user_container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <br />

  <nav class="navbar navbar-dark bg-secondary">
    <p class="header_text">Manage Users</p>
    <form class="form-inline"></form>
    <!-- custom-input.component.html -->
    <div class="user_search">
      <input
        type="text"
        placeholder="Search"
        class="search_input"
        [(ngModel)]="searchText"
      />
      <button type="submit" class="search_button" (click)="getSingleUser()">
        Search
      </button>
    </div>
  </nav>

  <!-- toggle button component imported -->
  <div class="button_toggle">
    <button-toggle
      [sortOptions]="sortOptions"
      (sortSelectionChange)="onSortSelectionChange($event)"
    ></button-toggle>
  </div>

  <!-- user-management.component.html -->
  <app-table
    [displayedColumns]="['name', 'email', 'score', 'createdAt']"
    [displayedNames]="['Name', 'Email', 'Score', 'Created Date']"
    [dataSource]="users"
    [icons]="['edit']"
    (iconClick)="onUserIconClick($event)"
  ></app-table>

  <!-- Pagination buttons -->
  <div class="pagination mt-3">
    <button (click)="prevPage()" class="prevButton">
      <span>Back</span>
    </button>
    <button (click)="nextPage()" class="nextButton">
      <span>Next</span>
    </button>
  </div>
</div>
