<div class="user_container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <br />

  <app-header-search
    (searchClicked)="getSingleUser($event)"
  ></app-header-search>

  <!-- toggle button component imported -->
  <div class="button_toggle">
    <button-toggle
      [sortOptions]="sortOptions"
      (sortSelectionChange)="onSortSelectionChange($event)"
    ></button-toggle>
  </div>

  <!-- user-management.component.html -->
  <app-table
    [displayedColumns]="['name', 'email', 'score', 'createdAt']"
    [displayedNames]="['Name', 'Email', 'Score', 'Created Date']"
    [dataSource]="users"
    [icons]="['edit']"
    (iconClick)="onUserIconClick($event)"
  ></app-table>

  <!-- Pagination buttons -->
  <div class="pagination mt-3">
    <button (click)="prevPage()" class="prevButton">
      <span>Back</span>
    </button>
    <button (click)="nextPage()" class="nextButton">
      <span>Next</span>
    </button>
  </div>
</div>
