/* custom-input.component.css */

/* Default styling */
.Search_input {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 500px;
  padding: 8px;
  border: none;
  border-radius: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.Search_input:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.Search_input::placeholder {
  font-size: 15px;
  padding-left: 5px;
}
