<div class="discussion-thread">
  <!-- Top row -->
  <div class="top-row">
    <span
      >{{ notification.communityName }} / {{ notification.categoryName }}</span
    >
    <span>{{ notification.childReplyCreatedAt | date : "medium" }}</span>
  </div>

  <!-- From -->
  <div class="replies">
    <div class="reply">
      <span class="notification">
        {{ notification.childReplyUserName }} have replied :
        <div
          class="reply-content"
          *ngIf="!isHTML(notification.childReplyContent)"
        >
          {{ notification.childReplyContent }}
        </div>
        <div
          class="reply-content"
          *ngIf="
            notification.parentReplyContent &&
            isHTML(notification.childReplyContent)
          "
        >
          <span
            [innerHTML]="appendEllipsis(notification.childReplyContent, true)"
          ></span>
        </div>
      </span>

      <!-- To -->

      <span *ngIf="notification.parentReplyID; else parentPost">
        <br />to your comment:

        <div
          class="reply-content"
          *ngIf="
            !notification.parentReplyContent ||
            !isHTML(notification.parentReplyContent)
          "
        >
          "{{ notification.parentReplyContent | slice : 0 : 110 }}"
        </div>
        <div
          class="reply-content"
          *ngIf="
            notification.parentReplyContent &&
            isHTML(notification.parentReplyContent)
          "
        >
          <span
            [innerHTML]="appendEllipsis(notification.parentReplyContent, true)"
          ></span>
        </div>
      </span>
      <ng-template #parentPost>
        <br />
        to your post:

        <div
          class="reply-content"
          *ngIf="
            !notification.parentReplyContent ||
            !isHTML(notification.parentReplyContent | slice : 0 : 110)
          "
        >
          "{{ notification.parentReplyContent }}"
        </div>
        <div
          class="reply-content"
          *ngIf="
            notification.parentReplyContent &&
            isHTML(notification.parentReplyContent)
          "
        >
          <span
            [innerHTML]="appendEllipsis(notification.parentReplyContent, true)"
          ></span>
        </div>
      </ng-template>
    </div>

    <button (click)="removeNotification(notification.childReplyID)">
      Mark as read
    </button>
  </div>
</div>
