<!-- category-threads.component.html -->
<div class="container">
  <!-- bread crumbs -->
  <div class="top_nav">
    <div>
      <a href="/home_page" class="breadcrumb_navigation">Home</a>
      <span> > </span>
      <a href="/community_page" class="breadcrumb_navigation">Community</a>
      <span> > </span>
      <a href="/category_threads" class="breadcrumb_navigation">Category</a>
    </div>

    <app-page-header
      navClass="navbar navbar-dark bg-secondary Page_header"
      [pageHeaderTitle]="CategoryThreads.categoryName"
      (ButtonClick)="createPost()"
      ButtonName="Create Post"
    ></app-page-header>
    <!-- post displayed here -->

    <div *ngFor="let thread of CategoryThreads.threads">
      <app-list
        (click)="navigateToThreadReplies(thread.threadID)"
        [sections]="[
          {
            title: 'Column 1',
            metadataItems: [
              { name: 'Created By', value: thread.createdBy },
              { name: 'Status', value: thread.threadStatusName },
              { name: 'Created At', value: formatDate(thread.createdAt) },
              { name: 'Votes', value: thread.voteCount }
            ]
          },
          {
            title: 'Column 2',
            metadataItems: [
              {
                name: 'Post',
                value: thread.content.slice(0, 200),
                isHtml: true
              },
              { name: 'Tags', value: thread.tagNames.join(', ') }
            ]
          },
          {
            title: 'Column 3',
            metadataItems: [{ name: 'Is Answered', value: thread.isAnswered }]
          }
        ]"
      >
      </app-list>
    </div>

    <!-- pagination ui -->
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="changePage($event)"
    ></app-pagination>
  </div>
</div>
