<ng-container class="container"
  ><app-loader *ngIf="isLoading"></app-loader
></ng-container>
<div class="container">
  <!-- bread crumbs -->
  <div class="top_nav">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <br />
    <app-page-header
      navClass="navbar navbar-dark bg-secondary Page_header"
      [pageHeaderTitle]="CategoryThreads.categoryName"
      (ButtonClick)="createPost()"
      ButtonName="Create Post"
    ></app-page-header>
    <!-- post displayed here -->

    <div *ngFor="let thread of CategoryThreads.threads">
      <app-list
        (click)="navigateToThreadReplies(thread.threadID)"
        [sections]="[
          {
            title: 'Column 1',
            metadataItems: [
              { value: thread.createdByUser },
              { value: 'Asked ' + formatDate(thread.createdAt) },
              {
                value:
                  '↑ ' +
                  thread.upVoteCount +
                  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;↓ ' +
                  thread.downVoteCount,
                isHtml: true
              }
            ]
          },
          {
            title: 'Column 2',
            metadataItems: [
              { value: thread.title },
              {
                value:
                  thread.content.length > 200
                    ? thread.content.slice(0, 70) + '...'
                    : thread.content,
                isHtml: true
              },

              {
                value:
                  'Tags : ' + '<span>' + thread.tagNames.join(',') + '</span>',
                isHtml: true
              }
            ]
          }
        ]"
      >
      </app-list>
    </div>

    <!-- pagination ui -->
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="changePage($event)"
    ></app-pagination>
  </div>
</div>
