/* guidelines.component.css */  
  /* Modal Styles */
  .modal-dialog {
    transition: transform 0.3s ease, opacity 0s ease;
  }
  
  .modal-content {
    border: none;
    background: linear-gradient(to bottom, #ffffff, #e6f7ff); /* Gradient background for the modal content */
    transition: background 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .modal-content:hover {
    background: linear-gradient(to bottom, #e6f7ff, #ffffff); /* Reverse the gradient on hover */
  }
  
  .modal-header {
    background-color: rgba(51, 171, 165,0.8);
    color: #fff;
  }
  
  .modal-title {
    margin: 0;
  }
  
  .btn-close {
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .btn-close:hover {
    color: #eee;
  }
  
  .list-group-item h4 {
    font-weight: bolder; /* Make the headings bold */
    margin-bottom: 0; /* Remove default bottom margin for better spacing */
  }

  /* List Styles */
  .list-group-item {
    background-color: #f2f2f2; /* Light gray background color for list items */
    border: 1px solid #d9d9d9;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .list-group-item:hover {
    background-color: rgba(51, 171, 165,0.8); /* Slightly darker gray on hover */
    transform: scale(1.02); /* Slightly scale up on hover */
    border-radius: 3%;
    border:3px solid white;
  }
  
  /* Animation for modal entrance */
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0 ease, transform 0.5s ease;
  }
  