.custom-dropdown {
  position: absolute;
  border: 1px solid #e6e6e6;
  background-color: #f6f6f6;
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  margin-left: 18px;
  margin-top: -20px;
  width: 382px;
}

.custom-dropdown div {
  cursor: pointer;
}

.no-matches {
  font-size: small;
  font-style: italic;
}

.result-item {
  font-size: small;
  transition: background-color 0.5s ease;
  padding-left: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.result-item:hover {
  background-color: #b1b1b1;
}

.dropdown-post-item {
  font-weight: bold;
}
.dropdown-tag-item {
  display: flex;
  justify-content: space-between;
}

.dropdown-tag-item-name {
  font-style: italic;
  font-weight: bold;
}

.dropdown-tag-item-count {
  margin-right: 5px;
  font-size: smaller;
  font-weight: normal;
}
