.custom-dropdown {
  position: absolute;
  border: 1px solid #e6e6e6;
  background-color: #f6f6f6;
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  margin-left: 19px;
  margin-top: -20px;
  width: 382px;
}

.custom-dropdown div {
  cursor: pointer;
}

.no-matches {
  color: #ff0000;
}

.result-item {
  font-size: small;
  transition: background-color 0.5s ease;
  padding-left: 15px;
  padding-bottom: 10px;
}

.result-item:hover {
  background-color: #b2d1ff;
}
