html,
body {
  margin: 0;
  height: 100vh;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-family: "Montserrat" !important;
  background-color: aliceblue;
}
.container {
  width: 80%;
  /* position: absolute; */
  left: 15%;
  width: 75%;
  margin-top: 1%;
  right: 5%;
  padding: 5px;
  /* margin-bottom: 20%; */
  padding-top: 1%;
  padding-bottom: 10%;
  margin-left: 2%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.breadcrumb_navigation {
  text-decoration: none;
}

::ng-deep {
  .tox-promotion {
    background-color: black;
  }
}
