.latest_container {
  margin-top: 15px;
  margin-left: 50px;
  width: 91%;
}
.view_options {
  display: flex;
  justify-content: start;
}

/* .spacer {
  flex: 1;
} */
.button_toggle {
  margin-left: 20px;
  margin-top: 8px;
}
