.custom-modal-body {
    padding: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    border-radius: 5px;
  }

  .required{
      color: #dc3545;
      font-size: 0.875rem;
  }
  
  .form_error {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 5px;
    display: block;
  }
  
  .buttons{
    display: flex;
    justify-content: space-evenly;
  }


  .error-message {
    color: red;
  }
 
  .required::after {
    color: red;
    margin-left: 5px;
  }