<div class="modal-body custom-modal-body">
  <form (ngSubmit)="createCategory()" #categoryForm="ngForm">
    <div class="form-group">
      <label for="communityCategory"
        ><span class="required">*</span>Community Category:</label
      >
      <select
        class="form-control"
        name="communityCategory"
        [(ngModel)]="selectedCommunityCategory"
        required
        #communityCategoryField="ngModel"
      >
        <!-- selectedCommunityCategory =  communityCategoryName of selected category -->
        <option
          *ngFor="let category of categoriesNotInCommunity"
          [value]="category.communityCategoryName"
        >
          {{ category.communityCategoryName }}
        </option>
        <option [value]="'other'">Other</option>
      </select>
      <span
        class="form_error"
        *ngIf="communityCategoryField.invalid && communityCategoryField.touched"
      >
        *Category is required
      </span>
    </div>
    <!-- selectedCommunityCategory =  other if selected 'other' -->
    <div *ngIf="selectedCommunityCategory == 'other'">
      <div class="form-group">
        <label for="newCategoryName"
          ><span class="required">*</span>New Category Name:</label
        >
        <input
          type="text"
          class="form-control"
          name="newCategoryName"
          [(ngModel)]="newCategoryName"
          required
          minlength="2"
          maxlength="50"
          pattern=".*\S+.*"
          #categoryNameInput="ngModel"
          [disabled]="
            !communityCategoryField.valid || !communityCategoryField.value
          "
          #newCategoryNameField="ngModel"
        />
        <div
          *ngIf="
            categoryNameInput?.invalid &&
            (categoryNameInput?.dirty || categoryNameInput?.touched)
          "
          class="error-message"
        >
          <div *ngIf="categoryNameInput.errors?.['required']">
            Please fill out this field.
          </div>
          <div *ngIf="categoryNameInput.errors?.['minlength']">
            Category Name must be at least 2 characters long.
          </div>
          <div *ngIf="categoryNameInput.errors?.['maxlength']">
            Category Name cannot exceed 50 characters.
          </div>
          <div *ngIf="categoryNameInput.errors?.['pattern']">
            Category Name cannot be just empty spaces.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="description"
        ><span class="required">*</span>Description:</label
      >
      <textarea
        class="form-control"
        name="description"
        [(ngModel)]="description"
        required
        minlength="6"
        maxlength="200"
        pattern=".*\S+.*"
        #descriptionField="ngModel"
      ></textarea>
      <div
        *ngIf="
          descriptionField?.invalid &&
          (descriptionField?.dirty || descriptionField?.touched)
        "
        class="error-message"
      >
        <div *ngIf="descriptionField.errors?.['required']">
          Please fill out this field.
        </div>
        <div *ngIf="descriptionField.errors?.['minlength']">
          Description must be at least 6 characters long.
        </div>
        <div *ngIf="descriptionField.errors?.['maxlength']">
          Description cannot exceed 200 characters.
        </div>
        <div *ngIf="descriptionField.errors?.['pattern']">
          Description cannot be just empty spaces.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="createdBy"><span class="required">*</span>Created By:</label>
      <input
        type="text"
        class="form-control"
        name="createdBy"
        [(ngModel)]="createdBy"
        required
        #createdByField="ngModel"
      />
      <span
        class="form_error"
        *ngIf="createdByField.invalid && createdByField.touched"
      >
        *Created By is required
      </span>
    </div>

    <br />
    <div class="buttons">
      <app-button
        buttonClass="button"
        buttonName="Submit"
        buttonColor="rgb(31, 151, 145)"
        textColor="white"
        hoverColor="rgb(51, 171, 165)"
        hoverTextColor="white"
        [disableButton]="categoryForm.invalid"
      ></app-button>
      <span></span>
      <span>
        <app-button
          buttonClass="button"
          buttonName="Close"
          buttonColor="#6c757d"
          buttonType="button"
          textColor="white"
          hoverColor="#5c636a"
          hoverTextColor="white"
          (buttonClick)="closeModal()"
        ></app-button>
      </span>
    </div>
  </form>
</div>
