<div class="modal-body custom-modal-body">
  <form (ngSubmit)="createCategory()" #categoryForm="ngForm">
    <div class="form-group">
      <label for="communityCategory">Community Category:</label>
      <select
        class="form-control"
        name="communityCategory"
        [(ngModel)]="selectedCommunityCategory"
        required
        #communityCategoryField="ngModel"
      >
        <!-- selectedCommunityCategory =  communityCategoryID of selected category -->
        <option
          *ngFor="let category of categoriesNotInCommunity"
          [value]="category.communityCategoryName"
        >
          {{ category.communityCategoryName }}
        </option>
        <option [value]="'other'">Other</option>
      </select>
    </div>
    <!-- selectedCommunityCategory =  -1 if selected 'other' -->
    <div *ngIf="selectedCommunityCategory == 'other'">
      <div class="form-group">
        <label for="newCategoryName">New Category Name:</label>
        <input
          type="text"
          class="form-control"
          name="newCategoryName"
          [(ngModel)]="newCategoryName"
          required
          #newCategoryNameField="ngModel"
        />
        <span
          class="form_error"
          *ngIf="newCategoryNameField.invalid && newCategoryNameField.touched"
        >
          *New Category Name is required
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        class="form-control"
        name="description"
        [(ngModel)]="description"
        required
        #descriptionField="ngModel"
      ></textarea>
      <span
        class="form_error"
        *ngIf="descriptionField.invalid && descriptionField.touched"
      >
        *Description is required
      </span>
    </div>

    <div class="form-group">
      <label for="createdBy">Created By:</label>
      <input
        type="text"
        class="form-control"
        name="createdBy"
        [(ngModel)]="createdBy"
        required
        #createdByField="ngModel"
      />
      <span
        class="form_error"
        *ngIf="createdByField.invalid && createdByField.touched"
      >
        *Created By is required
      </span>
    </div>

    <br />
    <div class="buttons">
      <!-- <button
        type="submit"
        class="btn btn-primary custom-btn"
        [disabled]="categoryForm.invalid"
      > -->
      <app-button
        buttonClass="button"
        buttonName="Submit"
        buttonColor="rgb(31, 151, 145)"
        textColor="white"
        hoverColor="rgb(51, 171, 165)"
        hoverTextColor="white"
        [disableButton]="categoryForm.invalid"
      ></app-button>
      <!-- </button> -->
      <span></span>
      <span>
        <!-- <button
          type="button"
          class="btn btn-secondary"
          (click)="bsModalRef.hide()"
        >
          Close
        </button> -->
        <app-button
          buttonClass="button"
          buttonName="Close"
          buttonColor="#6c757d"
          buttonType="button"
          textColor="white"
          hoverColor="#5c636a"
          hoverTextColor="white"
          (buttonClick)="closeModal()"
        ></app-button>
      </span>
    </div>
  </form>
</div>
