.container{
    width: 80%;
    position: absolute;
    left: 20%;
    width: 75%;
    margin-top: 3%;
    right: 5%;
    padding: 5px;
    margin-bottom: 20%;
    padding-top: 5%;
    padding-bottom: 10%;
}
.top_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.top_nav a{
    text-decoration: none;
}

.odd_value{
    background-color: aliceblue;
}

.even_value{
    background-color: beige;
}


  th, td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #c9c9c9;
  }

.edit_icon {
    font-size: 10px;
    cursor: pointer; /* Blue color for the edit icon */
  }
  
  /* Optional: Add some spacing for the icon */
  td:last-child {
    position: relative;
  }
  
  .edit_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  /* Add some custom styles to improve appearance */
.modal-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
}

.buttons {
  margin-top: 20px;
  text-align: right;
}

.form_error {
  color: red;
}

.custom-btn {
  background-color: rgb(31, 151, 145);
}

.buttons{
  display: flex;
  justify-content: space-around;
}
/* Optional: You can add more styles based on your preferences */

