<div class="container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <br />

  <app-page-header
    pageHeaderTitle="Manage Categories"
    navClass="navbar navbar-dark bg-secondary"
  />

  <div class="buttons_arrangement">
    <div class="button_toggle">
      <button-toggle
        [sortOptions]="sortOptions"
        (sortSelectionChange)="onSortSelectionChange($event)"
      ></button-toggle>
    </div>
    <div>
      <app-button
        buttonClass="button"
        buttonName="Create Category"
        buttonColor="rgb(31, 151, 145)"
        textColor="white"
        hoverColor="rgb(51, 171, 165)"
        hoverTextColor="white"
        (buttonClick)="openCreateCategoryModal()"
      ></app-button>
    </div>
  </div>
  <br />

  <!-- category-management.component.html -->
  <app-table
    [displayedColumns]="displayedColumns"
    [displayedNames]="displayedNames"
    [dataSource]="categories"
    [icons]="['edit']"
    (iconClick)="onCategoryIconClick($event)"
  ></app-table>
  <div class="pagination mt-3">
    <button (click)="prevPage()" class="prevButton">
      <span>Back</span>
    </button>
    <button (click)="nextPage()" class="nextButton">
      <span>Next</span>
    </button>
  </div>
</div>
