<br />
<app-page-header
  navClass="navbar navbar-dark bg-secondary Page_header"
  [pageHeaderTitle]="'Trending Tags'"
  [showButton]="false"
  [showImage]="true"
  [imageSrc]="'assets/images/fire.png'">
></app-page-header>
<div class="tag-container">
<div class="card-container">
  <div *ngFor="let tag of tags" (click)="getTaggedThreads(tag.name)">
    <app-card
      [metadataItems]="[
        {
          name: '',
          value: '',
          imageSrc: 'assets/images/hashtag.png'
        },
        { name: '', value: tag.name},
        { name: '', value: tag.value}
      ]"
      [marginTop]="'-15px'"
      [defaultImageWidth]="'50px'"
      [defaultImageHeight]="'50px'"
    ></app-card>
  </div>
</div>
</div>
