<ng-container class="container"
  ><app-loader *ngIf="isLoading"></app-loader
></ng-container>
<div class="container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <br />
    <div class="view_options">
    <div class="dropdown-container">
        <label class="dropdown-label">Choose</label>
    <app-dropdown-select
      [dropdownOptions]="parentDropdownOptions"
      (optionSelected)="handleOptionSelected($event)"
      [labelName]="'Community'"
    ></app-dropdown-select>
    </div>
    <div class="spacer"></div>

      <div class="dropdown-container">
        <label class="dropdown-label">Choose</label>
        <app-dropdown-select
          [dropdownOptions]="childDropdownOptions"
          (optionSelected)="handleCategorySelected($event)"
          [labelName]="'Category'"
          [disabled]="!categoryDropdownEnabled"
        ></app-dropdown-select>
      </div>
        <div class="spacer"></div>
    </div>
<ng-container *ngIf="communityID && communityCategoryID">
  <app-editor
    [title]="title"
    [firstButtonName]="'Post'"
    [secondButtonName]="'Cancel'"
    (onFirstButtonClick)="onSubmit($event)"
    (onSecondButtonClick)="goBack()"
    [existingTags]="existingTags"
  ></app-editor>
</ng-container>
</div>
