<!-- app-card.component.html -->
<div class="card">
  <!-- {{ title }} -->
  <div
    *ngFor="let item of metadataItems"
    class="metadata-item"
    [style.justifyContent]="justifyPosition"
    [ngStyle]="item.style || defaultStyle"
  >
    <div class="card_items">
      <div class="card_image">
        <ng-container *ngIf="item.imageSrc">
          <img
            [src]="item.imageSrc"
            alt="Image"
            [style.width]="defaultImageWidth"
            [style.height]="defaultImageHeight"
            [style.marginTop]="marginTop"
          />
        </ng-container>
      </div>
      <div class="card_content">
        <ng-container *ngIf="item.name.trim() !== ''">
          {{ item.name }}: {{ item.value }}
        </ng-container>
        <ng-container *ngIf="item.name.trim() === ''">
          {{ item.value }}
        </ng-container>
      </div>
    </div>
  </div>
  <div class="icons-container">
    <ng-content></ng-content>
  </div>
</div>

<!-- How to use : Example -->
<!-- 
If parent component don't want to pass the justify content position use this.
by default justify content center.
      <app-card
        [metadataItems]="[
          {
            name: '',
            value: '',
            imageSrc: titles.imageSrc
          },
          { name: '', value: titles.title }
        ]"
        [defaultImageWidth]="'30px'"
        [defaultImageHeight]="'30px'"
        [marginTop]="'-5px'"
        (click)="navigateToCard(titles.path)"
      ></app-card>-->
<!--  -->
