<!-- modal for notice creation -->
<ng-template #openmodalTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Create Notice</h4>
    <button
      type="button"
      class="close notice_modal_header_close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- input fields for dynamic user input -->
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newNotice.title"
        name="title"
        required
      />
    </div>
    <div class="form-group">
      <label for="expiresAt">Expires At</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newNotice.expiresAt"
        name="expiresAt"
        required
        autocomplete="off"
        bsDatepicker
        [bsConfig]="bsDatepickerConfig"
      />
      <!-- Utilizes the ngx-bootstrap datepicker -->
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        [(ngModel)]="newNotice.content"
        name="content"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="communityID">Community ID</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newNotice.communityID"
        name="communityID"
        required
      />
    </div>
    <div class="form-group">
      <label for="createdBy">Created By</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newNotice.createdBy"
        name="createdBy"
        required
      />
    </div>
  </div>
  <div class="modal-footer">
    <!-- <app-button
      buttonClass="btn btn-primary"
      buttonName="Add Notice"
      (buttonClick)="addNotice()"
    ></app-button> -->
    <app-button
      buttonClass="button"
      buttonName="Add Notice"
      buttonColor="rgb(31, 151, 145)"
      textColor="white"
      hoverColor="rgb(51, 171, 165)"
      hoverTextColor="white"
      (buttonClick)="addNotice()"
    ></app-button>
    <!-- <button
      type="button"
      class="btn btn-secondary modal_close_button"
      (click)="modalRef?.hide()"
    >
      Close
    </button> -->
    <app-button
      buttonClass="button"
      buttonName="Close"
      buttonColor="#6c757d"
      textColor="white"
      hoverColor="#5c636a"
      hoverTextColor="white"
      (buttonClick)="modalRef?.hide()"
    ></app-button>
    <!-- buttons to add notice and hide modal  -->
  </div>
</ng-template>